html, body { box-sizing: border-box;}

:root{
    --ff-icon-color: #656565;
    --ff-menu-icon-color: rgb(98, 0, 234);
    --ff-search-color: #515151;
    --ff-nav-color: #363636;
    --ff-nav-hover-color: #242424;
    --ff-clr: #1f1f1f;
    --ff-github-color: #000000;
    --ff-html-color: #E44D26;
    --ff-css-color: #1572B6;
    --ff-js-color: #F7DF1E;
    --ff-scss-color: #912952;
    --ff-php-color: #4F5D95;
    --ff-x-color: #000000;
    --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    --ff-facebook-color: #1877F2;
  }
  
  .darkmode{
    --ff-icon-color: #3d3d3d;
    --ff-menu-icon-color: rgb(251, 140, 0);
    --ff-search-color: #a4a4a4;
    --ff-nav-color: linear-gradient(to right, #8b8b8bed, #7a7a7a);
    --ff-nav-hover-color: #cfcfcf;
    --ff-clr: #c7c7c7;
    --ff-github-color: #ffffff;
    --ff-html-color: #E44D26;
    --ff-css-color: #1572B6;
    --ff-js-color: #F7DF1E;
    --ff-scss-color: #912952;
    --ff-php-color: #4F5D95;
    --ff-x-color: #ffffff;
    --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    --ff-facebook-color: #1877F2;
  }
html{
    background: black;
}
body{
    position: relative;
    font-size: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: var(--body-background);
    user-select: none;
}



main{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 94vh;
}
span.about-title{
    font-size: clamp(3rem, 3vw, 4rem);
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
    margin-left: 5%;
}
section.main-content{
    height: fit-content;
    width: 98%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    align-items: center;
    overflow: visible;
}
section article{
    margin-inline: 1%;
}
article.about-text-block{
    width: 50.1%;
    height: fit-content;
    border-radius: 20px;
    padding: 1rem;
}
.about-text-block span{
    font-size: clamp(1.5rem, 1.1vw, 2.3rem);
    color: var(--ff-menu-icon-color);
    font-family: neue;
    margin-bottom: 5rem;
}
main p{
    font-family: text-labels;
    color: var(--ff-search-color);
    font-size: clamp(1rem, 1.2vw, 1.235rem);
}
article.tech-stack-info-group{
    width: 46%;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: visible;
}
span.tech-stack-info-title{
    font-size: clamp(1.5rem, 1.1vw, 2.3rem);
    color: var(--ff-menu-icon-color);
    font-family: neue;
}
.tech-stack-top-box{
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.fa-brands{
    font-size: clamp(4rem, 1.3333rem + 0.5556vw, 5rem);
    margin: 1%;
}
.fa-github{
    color: var(--ff-github-color);
}
.fa-css3-alt{
    color: var(--ff-css-color);
}
.fa-html5{
    color: var(--ff-html-color);
}
.fa-js{
    color: var(--ff-js-color);
}
.fa-sass{
    color: var(--ff-scss-color);
}
.fa-php{
    color: var(--ff-php-color);
}
.fa-x-twitter{
    color: var(--ff-x-color);
}
.fa-instagram{
    background: var(--ff-instagram-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-facebook{
    color: var(--ff-facebook-color);
}
.tech-stack-bottom-box{
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

hr{
    border: none;
    margin: 0.5rem 0;
}















footer{
    height: 120px;
    position: relative;
    background: var(--footer-background);
    border-top: var(--header-footer-border);
}







@media only screen and (min-width: 0px) and (max-width: 600px) {
    h1{
        width: 45px;
        letter-spacing: 0.1rem;
    }
    .menu-opener{
        display: none;
    }
    .appearance-list-item{
        display: none;
    }
    .search-box{
        display: none;
    }
    .mobile-menu{
        visibility: visible;
        margin-bottom: 7.5px;
        margin-right: 5px;
    }
    .quick-options-list{
        width: fit-content;
        display: flex;
        align-items: center;
    }
    .mobile-sidebar{
        width: 100vw;
        height: 200px;
        position: relative;
        top: 0;
        left: 0;
        border-bottom: var(--button-border);
        background: var(--header-background);
        display: flex;
        flex-direction: column;
        padding-inline: 0.5rem;
        padding-top: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .mobile-profile{
        height: 137px;
        width: 96%;
        margin-top: none;
        margin-bottom: 0.3rem;
        border-radius: 12px;
        background: var(--nav-background);
        display: flex;
        border: var(--button-border);
    }
    .mobile-appearance-group{
        height: 50px;
        width: 96.5%;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #mode-button-mobile{
        width: 32%;
        height: 100%;
        margin-inline: auto;
        background: var(--nav-background);
        border: none;
        border-radius: 8px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--button-border);
        color: var(--ff-clr);
    }
    #mode-button-mobile >*{
        margin-inline: 3%;
    }
    section.main-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: visible;
    }
    article.about-text-block{
        width: 90%;
        margin-bottom: 1rem;
        overflow-y: visible;
    }
    article.tech-stack-info-group{
        width: 90%;
        margin-bottom: 1rem;
        overflow-y: visible;
    }
    main{
        min-height: 100dvh;
    }
}