html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face {
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face {
  font-family: var(--ff-text-label);
  src: url("../fonts/NeueMontreal-Light.otf");
  letter-spacing: normal;
}
@font-face {
  font-family: anurati;
  src: url("../fonts/Anurati-Regular.otf");
}
@font-face {
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: profont;
  src: url("../fonts/Maverix-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:root {
  --header-background: transparent;
  --body-background: #e9e9e9;
  --footer-background: #c7bbc8;
  --nav-background: #dddddd;
  --nav-hover-background: #bbbbbb;
  --quiz-btn-background: #b9b0b0;
  --button-border: 1.75px solid #969090;
  --universal-border: 1.5px solid #969090;
  --nav-border: 2px solid rgb(127, 127, 127);
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: rgb(98, 0, 234);
  --header-subtitle-gradient: linear-gradient(to right, #272727ed, #232323);
  --ff-icon-color: #656565;
  --ff-menu-icon-color: rgb(98, 0, 234);
  --ff-search-color: #515151;
  --ff-nav-color: #363636;
  --ff-nav-hover-color: #242424;
  --ff-clr: #1f1f1f;
  --ff-github-color: #000000;
  --ff-html-color: #E44D26;
  --ff-css-color: #1572B6;
  --ff-js-color: #F7DF1E;
  --ff-scss-color: #912952;
  --ff-php-color: #4F5D95;
  --ff-x-color: #000000;
  --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --ff-facebook-color: #1877F2;
}

.darkmode {
  --header-background: transparent;
  --body-background: linear-gradient(to bottom, #101010,#050505);
  --footer-background: #1f1f1f;
  --nav-background: #181818;
  --nav-hover-background: #292929;
  --quiz-btn-background: #1c1b1b;
  --app-background: #0f0f0f;
  --button-border: 2px solid #353535;
  --universal-border: 1.5px solid #424040;
  --nav-border: 2px solid rgb(91, 91, 91);
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: rgb(251, 140, 0);
  --header-subtitle-gradient: linear-gradient(to right, #404040ed, #6b6b6b);
  --ff-icon-color: #3d3d3d;
  --ff-menu-icon-color: rgb(251, 140, 0);
  --ff-search-color: #a4a4a4;
  --ff-nav-color: linear-gradient(to right, #8b8b8bed, #7a7a7a);
  --ff-nav-hover-color: #cfcfcf;
  --ff-clr: #c7c7c7;
  --ff-github-color: #ffffff;
  --ff-html-color: #E44D26;
  --ff-css-color: #1572B6;
  --ff-js-color: #F7DF1E;
  --ff-scss-color: #912952;
  --ff-php-color: #4F5D95;
  --ff-x-color: #ffffff;
  --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --ff-facebook-color: #1877F2;
}

body {
  position: relative;
  font-size: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: var(--body-background);
}

header.page-header {
  height: 50px;
  width: 100vw;
  background: var(--header-background);
  background-size: cover;
  position: relative;
  display: flex;
  border-bottom: var(--header-footer-border);
}

.header-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content-wrap {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

nav.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.5%;
}

h1 {
  font-size: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
  background: var(--header-title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 65px;
  font-family: anurati;
  height: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
  letter-spacing: -0.5rem;
}

span.title-subtext {
  font-size: clamp(1.2rem, 1.3333rem + 0.5556vw, 1.7rem);
  background: var(--header-subtitle-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: neue;
}

a.title-link {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-inline: 2% 0%;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.pages-nav {
  flex-direction: row;
  display: flex;
}

.pages-nav li {
  height: 100%;
  margin-inline: 5%;
  list-style-type: none;
}

.pages-nav li a {
  text-decoration: none;
  font-size: clamp(1rem, 1.3333rem + 0.5556vw, 1.4rem);
  background: var(--header-title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: neue;
}

.quick-options-list {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.appearance-button-group {
  width: 130px;
  height: 40px;
  text-align: center;
  border-radius: 7px;
  border: var(--button-border);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: text-labels;
  padding: 1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ff-search-color);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background: var(--nav-background);
}

.appearance-button-group > * {
  margin-inline: 3%;
}

.appearance-button-group[aria-expanded=true] i {
  transform: rotate(-90deg);
  transition: transform 0.1s ease-in;
}

.appearance-button-group i {
  transition: transform 0.1s ease-in;
  color: var(--ff-menu-icon-color);
}

#appearance-menu {
  height: 140px;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 0.25%;
  position: absolute;
  top: 53px;
  right: 263px;
  z-index: 3;
  background: var(--nav-background);
  border-radius: 10px;
}

#mode-button {
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  background: transparent;
  border: none;
  color: var(--ff-search-color);
  font-family: text-labels;
  padding-inline: 1%;
  margin: 0.5% 0;
}

#mode-button p {
  text-align: center;
  font-size: 16px;
  color: var(--ff-search-color);
  font-family: text-labels;
}

#mode-button:hover {
  background: var(--nav-hover-background);
}

#mode-button > * {
  margin-inline: 5%;
}

li {
  list-style-type: none;
  margin-inline: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 200px;
  height: 100%;
  border-radius: 15px;
  margin-inline: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
  width: 100%;
  font-size: 15px;
  color: var(--ff-search-color);
  font-family: text-labels;
  padding-inline: 4%;
  border: none;
  border-bottom: 1px var(--ff-menu-icon-color) solid;
  background: none;
}

::-webkit-search-cancel-button {
  display: none;
}

input:focus, input:active {
  outline: none;
}

.dashboard-menu-opener {
  height: -moz-fit-content;
  height: fit-content;
  width: 30px;
  background: transparent;
  color: var(--ff-menu-icon-color);
  font-size: 1.5rem;
  outline-color: transparent;
  border: none;
  display: inline-flex;
}

.dashboard-menu-opener .line {
  transition: x 0.1s ease-in 400ms, height 0.1s ease-in, width 0.1s ease-in 400ms, transform 0.1s ease-in 200ms;
  transform-origin: center;
  fill: var(--ff-menu-icon-color);
}

.dashboard-menu-opener[aria-expanded=true] .line {
  width: 10%;
  x: 40;
  transform-origin: center;
  transition: x 0.2s ease-in, width 0.2s ease-in, transform 0.2s ease-in;
  transform: rotate(-90deg);
}

.dashboard-menu-opener[aria-expanded=true] .top-line {
  transition: height 0.1s ease-in 400ms;
  height: 70%;
}

#subNav {
  height: 60px;
  width: 500px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  right: 1%;
}

.sub-link {
  text-decoration: none;
  color: var(--ff-menu-icon-color);
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin-inline: 2%;
  font-family: neue;
  float: right;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

header.section-header {
  height: 7%;
  display: grid;
  place-content: center;
  place-items: center;
}

span.about-title {
  font-size: clamp(3rem, 3vw, 4rem);
  background: var(--header-subtitle-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: neue;
}

section.main-content {
  height: -moz-fit-content;
  height: fit-content;
  width: 98%;
  display: flex;
  flex-direction: row;
  padding: 1%;
  align-items: center;
}

section article {
  margin-inline: 1%;
}

article.about-text-block {
  width: 50.1%;
  height: -moz-fit-content;
  height: fit-content;
  border: var(--nav-border);
  border-radius: 20px;
  padding: 1rem;
  background: var(--header-background);
}

.about-text-block span {
  font-size: clamp(1.5rem, 1.1vw, 2.3rem);
  color: var(--ff-menu-icon-color);
  font-family: neue;
  margin-bottom: 5rem;
}

main p {
  font-family: text-labels;
  color: var(--ff-search-color);
  font-size: clamp(1rem, 1.2vw, 1.235rem);
}

article.tech-stack-info-group {
  width: 46%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  text-align: center;
}

span.tech-stack-info-title {
  font-size: clamp(1.5rem, 1.1vw, 2.3rem);
  color: var(--ff-menu-icon-color);
  font-family: neue;
}

.tech-stack-top-box {
  height: 35%;
  width: 100%;
  border: var(--nav-border);
  border-radius: 20px;
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fa-brands {
  font-size: clamp(4rem, 1.3333rem + 0.5556vw, 5rem);
  margin: 1%;
}

.fa-github {
  color: var(--ff-github-color);
}

.fa-css3-alt {
  color: var(--ff-css-color);
}

.fa-html5 {
  color: var(--ff-html-color);
}

.fa-js {
  color: var(--ff-js-color);
}

.fa-sass {
  color: var(--ff-scss-color);
}

.fa-php {
  color: var(--ff-php-color);
}

.fa-x-twitter {
  color: var(--ff-x-color);
}

.fa-instagram {
  background: var(--ff-instagram-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-facebook {
  color: var(--ff-facebook-color);
}

.tech-stack-bottom-box {
  height: 60%;
  width: 100%;
  border: var(--nav-border);
  border-radius: 20px;
  background: var(--header-background);
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

hr {
  border: none;
  margin: 0.5rem 0;
}

footer {
  height: 120px;
  position: relative;
  background: var(--footer-background);
  border-top: var(--header-footer-border);
}/*# sourceMappingURL=about.css.map */