html, body {
  height: 100dvh;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@font-face {
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face {
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face {
  font-family: search;
  src: url("../fonts/Geist-Light.otf");
}
@font-face {
  font-family: light-text;
  src: url("../fonts/NeueMontreal-Medium.otf");
  letter-spacing: normal;
}
@font-face {
  font-family: anurati;
  src: url("../fonts/Anurati-Regular.otf");
}
@font-face {
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: profont;
  src: url("../fonts/Maverix-Regular.ttf");
}
@font-face {
  font-family: loop;
  src: url("../fonts/Koeltoerals-owwaz.ttf");
}
* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --header-background: rgb(9, 9, 9);
  --body-background: #ffffff;
  --appearance-btn-hover: rgba(61, 61, 61, 0.8);
  --to-top-btn-background: #131313;
  --search-column-background: #f4f4f4;
  --input-search-background: #e5e5e5;
  --footer-background: #f4f4f4;
  --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --appearance-btn-clr: #b6b6b6;
  --ff-btn-clr: #a8a8a8;
  --ff-btn-hover-clr: #ffffff;
  --ff-input-clr: #101010;
  --ff-link-clr: #101010;
  --header-border: 1.25px #cdcdcd solid;
  --to-top-border: 2px #4e4e4e solid;
  --search-column-border: 1.5px #cdcdcd solid;
  --input-search-border: 1.25px #cdcdcd solid;
}

.darkmode {
  --header-background: rgb(13, 13, 13);
  --body-background: rgb(8,8,8);
  --appearance-btn-hover: rgba(64, 64, 64, 0.8);
  --to-top-btn-background: #111111;
  --search-column-background: rgb(11, 11, 11);
  --input-search-background: rgb(21, 21, 21);
  --footer-background: rgb(11, 11, 11);
  --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --appearance-btn-clr: #e0e0e0;
  --ff-btn-clr: rgb(172, 172, 172);
  --ff-btn-hover-clr: #ffffff;
  --ff-input-clr: rgb(220, 220, 220);
  --ff-link-clr: #a4a4a4;
  --header-border: 1.25px #272727 solid;
  --to-top-border: 2px #272727 solid;
  --search-column-border: 1.5px #272727 solid;
  --input-search-border: 1.25px #272727 solid;
}

body {
  background: var(--body-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.page-header {
  height: 60px;
  width: 100%;
  z-index: 3;
  background: var(--header-background);
  border-bottom: var(--header-border);
}

nav.header-nav {
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  font-family: neue;
  background: var(--ff-page-title-clr);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-side-nav-group {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.appearance-btn-group {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.appearance-mode-btn {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 100vw;
  color: var(--appearance-btn-clr);
  transition: color 0.2s ease-in-out;
}

button.appearance-mode-btn:hover {
  background: var(--appearance-btn-hover);
  transition: color 0.2s ease-in-out;
}

/*
button.appearance-mode-btn:hover .gg-sun{
  transform: rotate(20deg);
  transition: transform .1s ease-in;
}
button.appearance-mode-btn .gg-sun{
  transition: transform .1s ease-out;
}
*/
.back-to-top-btn-container {
  height: 45px;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  top: 7.5px;
  z-index: 2;
}

button.back-to-top-btn {
  background: var(--to-top-btn-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--ff-btn-clr);
  height: 100%;
  width: 100%;
  border-radius: 100vw;
  padding: 1rem;
  border: var(--to-top-border);
  cursor: pointer;
  font-family: text-labels;
}

a.back-top-link {
  text-decoration: none;
}
a.back-top-link :hover {
  color: var(--ff-btn-hover-clr);
}

main {
  min-height: calc(100vh - 61.25px);
  width: 100vw;
  display: flex;
}

.search-column-container {
  flex-grow: 1;
  width: 20vw;
  border-right: var(--search-column-border);
  position: sticky;
  top: 0;
  background: var(--search-column-background);
  display: flex;
  justify-content: center;
}

.search-content-container {
  width: 100%;
  height: 300px;
  padding: 0.3rem;
  position: sticky;
  top: 0;
}

form.search-column-form {
  width: 100%;
  height: 50px;
  padding: 0.5rem 0.5rem;
  gap: 0.3rem;
  margin: 0;
  border-radius: 6px;
  border: var(--input-search-border);
  display: flex;
  background: var(--input-search-background);
}

form.search-column-form > * {
  font-size: 0.9rem;
  color: var(--ff-input-clr);
  font-family: text-labels;
}

input.search-bar-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-inline: 0.3rem;
  background: none;
}

input.search-bar-input:focus {
  border: none;
  outline: none;
}

::-webkit-search-cancel-button {
  display: none;
}

button.search-button {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-inline: 0.1rem;
  border: none;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.main-page-content {
  min-height: calc(150vh - 61.25px);
  width: calc(80vw - 1.5px);
}

footer {
  height: 175px;
  width: 100%;
  background: var(--footer-background);
  border-top: var(--header-border);
  padding: 0.4rem 4rem;
  display: flex;
  flex-direction: row;
}

.footer-title-column {
  /**/
}

.footer-global-nav-wrapper {
  display: flex;
}

.footer-link-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

span.footer-title-text {
  font-size: 0.9rem;
  color: var(--ff-input-clr);
  font-family: text-labels;
  height: -moz-fit-content;
  height: fit-content;
}

.footer-global-nav-wrapper {
  flex-grow: 1;
}

.footer-global-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-left: 0.3rem;
  width: 25%;
  height: 100%;
}

a.footer-global-nav-link {
  color: var(--ff-link-clr);
  font-family: text-labels;
  text-decoration: none;
  font-size: 1rem;
}
a.footer-global-nav-link :hover {
  text-decoration: underline;
}

li.footer-global-nav-li {
  list-style-type: none;
}/*# sourceMappingURL=games.css.map */