html, body { box-sizing: border-box; overflow-x: hidden;}
@font-face{
    font-family: text-labels;
    src: url("../fonts/Geist-Regular.otf");
}
@font-face{
    font-family: nav-box-font;
    src: url("../fonts/Geist-SemiBold.otf");
}
@font-face{
    font-family: var(--ff-text-label);
    src: url("../fonts/NeueMontreal-Light.otf");
    letter-spacing:normal;
}

@font-face{
    font-family: anurati;
    src: url("../fonts/Anurati-Regular.otf");
    letter-spacing:normal;
}

@font-face{
    font-family: neue;
    src: url("../fonts/NeueMontreal-Bold.otf");
}

@font-face{
    font-family: profont;
    src: url("../fonts/Maverix-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    scroll-behavior:smooth;
}
:root{
  --header-background: transparent;
  --body-background: #d8c8d9;

  --button-border: 1.5px solid #424040;

  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #7a00d7ed, #1c2864);
  --header-subtitle-gradient: linear-gradient(to right, #404040ed, #6b6b6b);

  --ff-icon-color: #3d3d3d;
}

.darkmode{
  --header-background: transparent;
  --body-background: #111111;

  --button-border: 1.5px solid #424040;

  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #7a00d7ed, #1c2864);
  --header-subtitle-gradient: linear-gradient(to right, #404040ed, #6b6b6b);

  --ff-icon-color: #3d3d3d;

}
body{
    position: relative;
    font-size: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: var(--body-background);
}

header.page-header{
    height: 50px;
    background: var(--header-background);
    background-size: cover;
    position: relative;
    display: flex;
}
.header-menu-opener{
    height: fit-content;
    width: fit-content;
    margin: 10% 20%;
    background: transparent;
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    outline-color: transparent;
    border: none;
    display: inline-flex;
}
.header-text-wrap{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    font-size: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
    background: var(--header-title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-family: anurati;
    height: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
    padding-inline: 2%;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/*h2{
    font-size: clamp(1.2rem, 1.3333rem + 0.5556vw, 1.7rem);
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 48%;
    overflow: hidden;
    white-space: nowrap;
    /*animation: typing 1.6s steps(20), blink .5s step-end infinite alternate;
    font-family: neue;
    animation-delay: 0.5s;
}*/
.quick-options-list{
    width: fit-content;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.appearance-button-group{
    width: fit-content;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#mode-button{
    height: 40px;
    aspect-ratio: 1;
    margin-inline: 2%;
    display: grid;
    place-items: center;
    place-content: center;
    border-radius: 50%;
    background: transparent;
    border: none;
    font-size: 25px;
    color: var(--ff-icon-color);
}
#mode-button:focus{
    border: var(--button-border);
}
li{
    list-style-type: none;
}







main{
    position: relative;
    min-height: calc(100vh - 50px);
}