html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face {
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face {
  font-family: var(--ff-text-label);
  src: url("../fonts/NeueMontreal-Light.otf");
  letter-spacing: normal;
}
@font-face {
  font-family: anurati;
  src: url("../fonts/Anurati-Regular.otf");
}
@font-face {
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: profont;
  src: url("../fonts/Maverix-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:root {
  --header-background: #c7bbc8;
  --body-background: #d8c8d9;
  --footer-background: #c7bbc8;
  --nav-background: #bcb0bd;
  --button-border: 1.5px solid #424040;
  --header-footer-border: 1.5px solid #969090;
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #7a00d7ed, #374486);
  --header-subtitle-gradient: linear-gradient(to right, #272727ed, #232323);
  --ff-icon-color: #656565;
  --ff-menu-icon-color: #404040;
  --ff-search-color: #515151;
  --ff-nav-color: #363636;
  --ff-nav-hover-color: #242424;
}

.darkmode {
  --header-background: #1f1f1f;
  --body-background: #1a1a1a;
  --footer-background: #1f1f1f;
  --nav-background: #212121;
  --button-border: 1.5px solid #424040;
  --header-footer-border: 1.5px solid #424040;
  --nav-border: 2px solid #424040;
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #7a00d7ed, #374486);
  --header-subtitle-gradient: linear-gradient(to right, #404040ed, #6b6b6b);
  --ff-icon-color: #3d3d3d;
  --ff-menu-icon-color: #a9a9a9;
  --ff-search-color: #a4a4a4;
  --ff-nav-color: linear-gradient(to right, #8b8b8bed, #7a7a7a);
  --ff-nav-hover-color: #cfcfcf;
}

body {
  position: relative;
  font-size: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: var(--body-background);
}

header.page-header {
  height: 50px;
  width: 100vw;
  background: var(--header-background);
  background-size: cover;
  position: relative;
  display: flex;
  border-bottom: var(--header-footer-border);
}

.header-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content-wrap {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

nav.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1%;
}

h1 {
  font-size: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
  background: var(--header-title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 65px;
  font-family: anurati;
  height: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
  letter-spacing: -0.5rem;
}

a.title-link {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-inline: 2% 0%;
}

span.title-subtext {
  font-size: clamp(1.2rem, 1.3333rem + 0.5556vw, 1.7rem);
  background: var(--header-subtitle-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: neue;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.quick-options-list {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.appearance-button-group {
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#mode-button {
  height: 40px;
  aspect-ratio: 1;
  margin-inline: 2%;
  display: grid;
  text-align: center;
  place-items: center;
  place-content: center;
  border-radius: 50%;
  background: transparent;
  border: none;
  font-size: clamp(1rem, 1.3333rem + 0.5556vw, 1.5rem);
  color: var(--ff-icon-color);
}

.darkmode .fa-solid.fa-moon {
  color: #fff;
}

.darkmode .fa-solid.fa-sun {
  color: #363636;
}

.darkmode .fa-solid.fa-display {
  color: #363636;
}

.fa-solid.fa-sun {
  color: #ffa202;
}

li {
  list-style-type: none;
  margin-inline: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 200px;
  height: 100%;
  border-radius: 15px;
  margin-inline: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
  width: 100%;
  font-size: 15px;
  color: var(--ff-search-color);
  font-family: text-labels;
  padding-inline: 4%;
  border: none;
  border-bottom: 1px var(--ff-menu-icon-color) solid;
  background: none;
}

::-webkit-search-cancel-button {
  display: none;
}

input:focus, input:active {
  outline: none;
}

.header-menu-opener {
  height: -moz-fit-content;
  height: fit-content;
  width: 30px;
  background: transparent;
  color: var(--ff-menu-icon-color);
  font-size: 1.5rem;
  outline-color: transparent;
  border: none;
  display: inline-flex;
}

.header-menu-opener .line {
  transition: x 0.1s ease-in 400ms, height 0.1s ease-in, width 0.1s ease-in 400ms, transform 0.1s ease-in 200ms;
  transform-origin: center;
  fill: var(--ff-menu-icon-color);
}

.header-menu-opener[aria-expanded=true] .line {
  width: 10%;
  x: 40;
  transform-origin: center;
  transition: x 0.2s ease-in, width 0.2s ease-in, transform 0.2s ease-in;
  transform: rotate(-90deg);
}

.header-menu-opener[aria-expanded=true] .top-line {
  transition: height 0.1s ease-in 400ms;
  height: 70%;
}

#subNav {
  position: absolute;
  border-radius: 15px;
  top: 60px;
  right: 1%;
  display: none;
  height: 300px;
  width: 400px;
  background: var(--nav-background);
  border: var(--header-footer-border);
  z-index: 3;
}

nav.pages-nav-bar {
  width: 100%;
  height: 20%;
  border-bottom: var(--header-footer-border);
}

ul.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

li.nav-list-item {
  width: 20%;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
}

.nav-link {
  font-family: neue;
  background-clip: text;
  background: var(--ff-nav-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(0.8rem, 1.2667rem + 0.7778vw, 1rem);
  text-align: center;
}

.nav-link i {
  font-size: clamp(0.8rem, 1.2667rem + 0.7778vw, 1.2rem);
  margin-top: 1%;
}

.nav-link:hover {
  color: var(--ff-nav-hover-color);
  background: transparent;
  background-clip: content-box;
  -webkit-text-fill-color: var(--ff-nav-hover-color);
}

main {
  position: relative;
  display: flex;
  min-height: calc(100vh - 50px);
}

footer {
  height: 120px;
  position: relative;
  background: var(--footer-background);
  border-top: var(--header-footer-border);
}/*# sourceMappingURL=games.css.map */