html, body {height: 100dvh; box-sizing: border-box; user-select: none; transition: background .2s ease-in-out, color .2s ease-in-out, border ease-in-out;
}
@font-face{
    font-family: text-labels;
    src: url("../fonts/Geist-Regular.otf");
}
@font-face{
    font-family: nav-box-font;
    src: url("../fonts/Geist-SemiBold.otf");
}
@font-face{
  font-family: search;
  src: url("../fonts/Geist-Light.otf");
}
@font-face{
    font-family: light-text;
    src: url("../fonts/NeueMontreal-Medium.otf");
    letter-spacing:normal;
}

@font-face{
    font-family: anurati;
    src: url("../fonts/Anurati-Regular.otf");
}

@font-face{
    font-family: neue;
    src: url("../fonts/NeueMontreal-Bold.otf");
}

@font-face{
    font-family: profont;
    src: url("../fonts/Maverix-Regular.ttf");
}
@font-face{
  font-family: loop;
  src: url("../fonts/Koeltoerals-owwaz.ttf");
}

*{
    margin: 0;
    padding: 0;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    font-variant: normal;
    font-stretch: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-optical-sizing: none;
}
:root{
    --header-background: rgb(9, 9, 9);
    --body-background: #ffffff;
    --appearance-btn-hover: rgba(61, 61, 61, 0.8);
    --to-top-btn-background: #131313;
    --search-column-background: #f4f4f4;
    --input-search-background: #e5e5e5;
    --filter-btn-background: #f4f4f4;
    --filter-hover-background: #e5e5e5;
    --filter-type-background: #c0c0c0;
    --container-background: #ededed;
    --content-nav-btn: rgb(62, 151, 195);
    --footer-background: #f4f4f4;

    --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --appearance-btn-clr: #e0e0e0;
    --ff-to-top: #c3c3c3;
    --ff-btn-clr: #050505;
    --ff-btn-hover-clr: #ffffff;
    --ff-input-clr: #101010;
    --ff-link-clr: #101010;
    --ff-body-text: #101010;
    --ff-inactive-text: #959595;
    --ff-descriptive-text: #5c5c5c;

    --header-border: 1.25px #cdcdcd solid;
    --to-top-border: 2px #4e4e4e solid;
    --search-column-border: 1.5px #cdcdcd solid;
    --input-search-border: 1.25px #cdcdcd solid;
    --game-border: 1.65px #8d8d8d solid;
    --pause-play-border: 2px #111111 solid;
  }
  
  .darkmode{
    --header-background: rgb(13, 13, 13);
    --body-background: rgb(8,8,8);
    --appearance-btn-hover: rgba(64, 64, 64, 0.8);
    --to-top-btn-background: #111111;
    --search-column-background: rgb(11, 11, 11);
    --input-search-background: rgb(21, 21, 21);
    --filter-btn-background: rgb(11, 11, 11);
    --filter-hover-background: rgb(21, 21, 21);
    --filter-type-background: rgb(22, 22, 22);
    --container-background: rgb(14, 13, 13);
    --footer-background: rgb(11, 11, 11);

    --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --appearance-btn-clr: #e0e0e0;
    --ff-to-top: #c3c3c3;
    --ff-btn-clr: rgb(172, 172, 172);
    --ff-btn-hover-clr: #ffffff;
    --ff-input-clr: rgb(220, 220, 220);
    --ff-link-clr: #a4a4a4;
    --ff-body-text: #e0e0e0;
    --ff-inactive-text: #737373;
    --ff-descriptive-text: #6b6b6b;

    --header-border: 1.25px #272727 solid;
    --to-top-border: 2px #272727 solid;
    --search-column-border: 1.5px #272727 solid;
    --input-search-border: 1.25px #272727 solid;
    --game-border: 1.65px #272727 solid;
    --pause-play-border: 2px #e1e1e1 solid;
  }
  body{
    background: var(--body-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background .2s ease-in-out, color .2s ease-in-out, border ease-in-out;
  }
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--body-background);
    z-index: 9999;
    display: grid;
    place-items: center;
}

/* Loader animation */
#loader {
    height: fit-content;
    width: fit-content;
    animation: spin 1s linear infinite;
}
span.page-loader-title{
  font-size: 4.5rem;
  font-family: neue;
  background: var(--ff-page-title-clr);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: loading-text-anim 3s infinite;
}
@keyframes loading-text-anim{
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
  button{
    cursor: pointer;
  }
  
  header.page-header{
    height: 60px;
    width: 100%;
    z-index: 3;
    background: var(--header-background);
    // border-bottom: var(--header-border);
  }
  nav.header-nav{
    padding-inline: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  span.page-title{
    font-size: 2.5rem;
    font-family: neue;
    background: var(--ff-page-title-clr);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .right-side-nav-group{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .appearance-btn-group{
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button.appearance-mode-btn{
    display: grid;
    place-items: center;
    background: none;
    border: none;
    aspect-ratio: 1;
    // padding: .2rem;
    height: 100%;
    border-radius: 100vw;
    color: var(--appearance-btn-clr);
    transition: color .2s ease-in-out;
  }
  button.appearance-mode-btn:hover{
    background: var(--appearance-btn-hover);
    transition: color .2s ease-in-out;
  }
  /*
  button.appearance-mode-btn:hover .gg-sun{
    transform: rotate(20deg);
    transition: transform .1s ease-in;
  }
  button.appearance-mode-btn .gg-sun{
    transition: transform .1s ease-out;
  }
  */
  .back-to-top-btn-container{
    height: 45px;
    width: fit-content;
    position: fixed;
    top: 7.5px;
    z-index: 2;
  }
  button.back-to-top-btn{
    background: var(--to-top-btn-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--ff-to-top);
    height: 100%;
    width: 100%;
    border-radius: 100vw;
    padding: 1rem;
    border: var(--to-top-border);
    cursor: pointer;
    font-family: text-labels;
  }
  a.back-top-link{
    text-decoration: none;

    :hover{
      color: var(--ff-btn-hover-clr);
    }
  }




  section.carousel-container{
    height: 48vh;
    width: 100vw;
    padding: .5rem;
    // border: 2px rgb(81, 255, 0) solid;
  }
  .carousel-container::-webkit-scrollbar{
    display: none;
  }
  .carousel-wrapper{
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    height: 85%;
    width: 100%;
    border-radius: 10px;
  }
  .carousel-item{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    scroll-snap-align: center;
    border: var(--pause-play-border);
  }
  /* .carousel-item[data-order="1"]{
    background-image: url(../img/halo-infinite-banner.webp);
    background-size: cover;
  } */
  .carousel-buttons-container{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 2px rgb(0, 132, 255) solid;
    padding: .2rem 0;
  }
  .pause-play-button-group{
    height: 90%;
    width: fit-content;
  }
  button.pause-play{
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    background: none;
    color: var(--ff-body-text);
    place-items: center;
    border: var(--pause-play-border);
  }
  .pause-play:hover{
    border: 2px solid rgb(62, 151, 195);
    color:rgb(62, 151, 195);
  }
  .carousel-play-button{
    font-size: 1rem;
  }
  .carousel-pause-button{
    font-size: 1.2rem;
  }
  .carousel-dot-group{
    height: 100%;
    width: fit-content;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
  }
  .slide-activity-dot{
    height: 10px;
    aspect-ratio: 1;
    background: var(--ff-body-text);
    border-radius: 50%;
    cursor: pointer;
  }
  .slide-activity-dot:hover{
    background: rgb(62, 151, 195);
  }
  .carousel-item-counter-container{
    height: 100%;
    width: fit-content;
    display: grid;
    place-items: center;
  }
  p.carousel-item-counter{
    font-size: .8rem;
    color: var(--ff-body-text);
    font-family: text-labels;
  }

  


  section.content-introduction-cards-container{
    height: 45vh;
    width: 100vw;
    // border: 1px red solid;
  }
  .content-introduction-cards-placement{
    height: 100%;
    width: 100%;
    // border: 1px solid blue;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  article.content-introduction-card{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
  }
  .content-introduction-card-content-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
    // gap: 1rem;
  }
  .content-introduction-card-title-text-wrapper{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
  }
  p.content-title{
    font-family: neue;
    font-size: 1.3em;
    color: var(--ff-body-text);
  }
  p.content-description{
    font-family: text-labels;
    font-size: .9em;
    color: var(--ff-body-text);
  }
  .content-introduction-card-icon-positioning{
    flex-grow: 1;
    width: 100%;
    display: grid;
    place-items: center;
  }
  svg.globe-icon{
    object-fit: cover;
    height: 90%;
    aspect-ratio: 1;
    fill: var(--ff-descriptive-text);
  }
  .content-navigate-button-wrapper{
    height: 20%;
    width: 100%;
    display: grid;
    place-items: center;
  }
  button.content-navigate-button{
    height: fit-content;
    width: fit-content;
    padding: 0.7rem 1rem;
    background: var(--content-nav-btn);
    font-family: neue;
    font-size: 1.1em;
    color: #fff;
    border: none;
    border-radius: 100vw;
  }

  main{
    min-height: calc(100vh - 61.25px);
    width: 100vw;
  }
  .search-container{
    width: 100vw;
    height: 150px;
    top: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-inline: .5rem;
    gap: .5rem;
  }
  .search-content-container{
    min-width: 400px;
    height: 90%;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    border: var(--input-search-border);
    border-radius: 5px;
    background: var(--container-background);
  }
  form.search-form{
    width: 100%;
    height: 40%;
    padding: .5rem .5rem;
    gap: .3rem;
    margin: 0;
    border-radius: 6px;
    border: var(--input-search-border);
    display: flex;
    background: var(--input-search-background)
  }
  input.search-bar-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-inline: .3rem;
    background: none;
    font-size: 0.9rem;
    color: var(--ff-input-clr);
    font-family: text-labels;
  }
  input.search-bar-input:focus{
    border: none;
    outline: none;
  }
  ::-webkit-search-cancel-button{
    display: none;
  }
  button.search-button{
    width: fit-content;
    height: 100%;
    margin-inline: .1rem;
    border: none;
    background: none;
    font-size: 0.9rem;
    color: var(--ff-input-clr);
    cursor: pointer;
  }
  .search-filters-container{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .search-filter-label-button-container{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label.search-filter-label{
    font-family: text-labels;
    font-size: .9rem;
    color: var(--ff-body-text);
    text-decoration: underline;
  }
  .search-filter-button-group{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .3rem;
  }
  button.search-filter-button{
    height: 25px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: var(--input-search-border);
    color: var(--ff-btn-clr);
    background: var(--filter-btn-background);
  }
  button.search-filter-button:hover{
    background: var(--filter-hover-background);
  }
  .selected-search-filter-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .filter-selection-container{
    height: 90%;
    min-width: 200px;
    max-width: 300px;
    padding: .3rem;
    background: var(--container-background);
    border: var(--input-search-border);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    opacity: 0;
  }
  .opened-filter-menu{
    display: flex;
    opacity: 1;
  }
  .filter-selection-title-counter-container{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  label.filter-selection-title{
    font-size: .9rem;
    font-family: text-labels;
    color: var(--ff-body-text);
  }
  label.filter-selection-counter{
    font-size: .9rem;
    font-family: text-labels;
    color: var(--ff-inactive-text);
  }
  button.close-filter-selection-menu{
    font-size: .9rem;
    color: var(--ff-body-text);
    background: none;
    border: none;
    display: grid;
    place-items: center;
  }
  .filter-type-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  p.empty-filter-text{
    font-size: .9rem;
    color: var(--ff-inactive-text);
    font-family: text-labels;
  }
  .filter-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    gap: .2rem;
    background: var(--filter-btn-background);
    border: var(--input-search-border);
    border-radius: 5px;
    height: 30px;
    margin-right: .3rem;
    width: fit-content;
  }
  span.filter-type-text{
    font-size: .9rem;
    color: var(--ff-body-text);
    font-family: text-labels;
  }
  button.clear-filter-type{
    font-size: .9rem;
    color: var(--ff-body-text);
    background: none;
    border: none;
    display: none;
    opacity: none;
    transition: opacity .1s ease-in-out;
  }
  .filter-type:hover{
    gap: .5rem;
    transition: gap .1s ease-in-out;
    background: var(--filter-type-background);
  }
  .filter-type:hover .clear-filter-type{
    display: grid;
    place-items: center;
    opacity: 1;
    transition: opacity .1s ease-in-out;
  }
  .main-page-content{
    min-height: calc(150vh - 61.25px);
    width: 100vw;
  }
  section.game-type-row-container{
    height: 240px;
    // border: 1px red solid;
    padding-inline: .5rem;
    margin: 2rem 0;
    display: flex;
    gap: .5rem;
    flex-direction: column;
  }
  .game-type-row-top-header{
    height: 50px;
    width: 100%;
    display: flex;
    // border: 1px blue solid;
    justify-content: space-between;
    align-items: center;
  }
  .game-type-information{
  }
  p.game-type-description{
    font-size: .9rem;
    font-family: text-labels;
    color: var(--ff-descriptive-text);
  }
  label.game-type-row-label{
    font-family: neue;
    font-size: 1.8rem;
    color: var(--ff-body-text);
  }
  button.see-all-games-btn{
    background: none;
    border: none;
    font-family: text-labels;
    font-size: .9rem;
    color: var(--ff-body-text);
  }
  button.see-all-games-btn:hover{
    text-decoration: underline;
  }
  .game-container{
    flex-grow: 1;
    height: 100%;
    // border: 1px green solid;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .game{
    height: 100%;
    width: 24%;
    border: var(--game-border);
    box-sizing: border-box;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background: var(--container-background);
  }
  img.game-art{
    object-fit: cover;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    position: relative;
    // mix-blend-mode: color-burn;
  }


  footer{
    height: 175px;
    width: 100%;
    background: var(--footer-background);
    border-top: var(--header-border);
    padding: 0.4rem 4rem;
    display: flex;
    flex-direction: row;
  }
  .footer-title-column{
    /**/
  }
  .footer-global-nav-wrapper{
    display: flex;
  }
  .footer-link-column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  span.footer-title-text{
    font-size: .9rem;
    color: var(--ff-input-clr);
    font-family: text-labels;
    height: fit-content;
  }
  .footer-global-nav-wrapper{
    flex-grow: 1;
  }
  .footer-global-nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: .3rem;
    width: 25%;
    height: 100%;
  }
  a.footer-global-nav-link{
    color: var(--ff-link-clr);
    font-family: text-labels;
    text-decoration: none;
    font-size: 1rem;

    :hover{
      text-decoration: underline;
    }
  }
  li.footer-global-nav-li{
    list-style-type: none;
  }


/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */