html, body { box-sizing: border-box; overflow-x: hidden;}
@font-face{
    font-family: text-labels;
    src: url("../fonts/Geist-Regular.otf");
}
@font-face{
    font-family: nav-box-font;
    src: url("../fonts/Geist-SemiBold.otf");
}
@font-face{
    font-family: var(--ff-text-label);
    src: url("../fonts/NeueMontreal-Light.otf");
    letter-spacing:normal;
}

@font-face{
    font-family: anurati;
    src: url("../fonts/Anurati-Regular.otf");
}

@font-face{
    font-family: neue;
    src: url("../fonts/NeueMontreal-Bold.otf");
}

@font-face{
    font-family: profont;
    src: url("../fonts/Maverix-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    scroll-behavior:smooth;
}
:root{
  --header-background: #c7bbc8;
  --body-background: #d8c8d9;
  --footer-background: #c7bbc8;
  --nav-background: #bcb0bd;
  --quiz-btn-background: #b9b0b0;

  --button-border: 1.5px solid #424040;
  --universal-border: 1.5px solid #969090;

  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #7a00d7ed, #374486);
  --header-subtitle-gradient: linear-gradient(to right, #272727ed, #232323);

  --ff-icon-color: #656565;
  --ff-menu-icon-color: #404040;
  --ff-search-color: #515151;
  --ff-nav-color: #363636;
  --ff-nav-hover-color: #242424;
  --ff-clr: #1f1f1f;
}

.darkmode{
  --header-background: #0f0f0f;
  --body-background: linear-gradient(to bottom, #101010,#050505);
  --footer-background: #1f1f1f;
  --nav-background: #212121;
  --quiz-btn-background: #1c1b1b;
  --app-background: #0f0f0f;

  --button-border: 1.5px solid #424040;
  --universal-border: 1.5px solid #424040;
  --nav-border: 2px solid #424040;

  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #7a00d7ed, #374486);
  --header-subtitle-gradient: linear-gradient(to right, #404040ed, #6b6b6b);

  --ff-icon-color: #3d3d3d;
  --ff-menu-icon-color: #a9a9a9;
  --ff-search-color: #a4a4a4;
  --ff-nav-color: linear-gradient(to right, #8b8b8bed, #7a7a7a);
  --ff-nav-hover-color: #cfcfcf;
  --ff-clr: #c7c7c7;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: var(--body-background);
}

header.page-header{
    height: 50px;
    width: 100vw;
    background: transparent;
    background-size: cover;
    position: relative;
    z-index: 3;
    display: flex;
    border: none;
}
.header-text-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content-wrap{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
nav.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 1%;
}

h1{
    font-size: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
    background: var(--header-title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 65px;
    font-family: anurati;
    height: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
    letter-spacing: -0.5rem;
}
a.title-link{
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding-inline: 2% 0%;
}
span.title-subtext{
    font-size: clamp(1.2rem, 1.3333rem + 0.5556vw, 1.7rem);
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.quick-options-list{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.appearance-button-group{
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#mode-button{
    height: 40px;
    aspect-ratio: 1;
    margin-inline: 2%;
    display: grid;
    text-align: center;
    place-items: center;
    place-content: center;
    border-radius: 50%;
    background: transparent;
    border: none;
    font-size: clamp(1rem, 1.3333rem + 0.5556vw, 1.5rem);
    color: var(--ff-icon-color);
}
.darkmode .fa-solid.fa-moon{
    color: #fff;
}
.darkmode .fa-solid.fa-sun{
    color: #363636;
}
.darkmode .fa-solid.fa-display{
    color:  #363636;
}
.fa-solid.fa-sun{
    color: #ffa202;
}
li{
    list-style-type: none;
    margin-inline: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 200px;
    height: 100%;
    border-radius: 15px;
    margin-inline: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 30px;
    width: 100%;
    font-size: 15px;
    color: var(--ff-search-color);
    font-family: text-labels;
    padding-inline: 4%;
    border: none;
    border-bottom: 1px var(--ff-menu-icon-color) solid;
    background: none;
}
::-webkit-search-cancel-button{
    display: none;
}
input:focus, input:active{
    outline: none;
}
.header-menu-opener{
    height: fit-content;
    width: 30px;
    background: transparent;
    color: var(--ff-menu-icon-color);
    font-size: 1.5rem;
    outline-color: transparent;
    border: none;
    display: inline-flex;
}
.header-menu-opener .line{
    transition: x .1s ease-in 400ms, height .1s ease-in, width .1s ease-in 400ms, transform .1s ease-in 200ms;
    transform-origin: center;
    fill: var(--ff-menu-icon-color);
}
.header-menu-opener[aria-expanded=true] .line{
    width: 10%;
    x: 40;
    transform-origin: center;
    transition: 
    x .2s ease-in,
    width .2s ease-in,
    transform .2s ease-in;
    transform: rotate(-90deg);
}
.header-menu-opener[aria-expanded=true] .top-line{
    transition: height .1s ease-in 400ms;
    height: 70%;
}

hr{
    width: 100%;
    border: none;
    height: 0;
    margin: 10px 0;
}













main{
    background: transparent;
    position: relative;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-content-wrapper{
    min-height: 45vh;
    max-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
span.intro-largest-text{
    font-size: clamp(10rem, 0.6333rem + 0.5556vw, 11rem);
    background: var(--header-title-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: anurati;
    width: fit-content;
    text-align: center;
}
span.intro-subtitle-text{
    font-size: clamp(5rem, 0.6333rem + 0.5556vw, 7rem);
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
    white-space: wrap;
    overflow: hidden;
    width: fit-content;
}
.main-pages-navigation{
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages-list{
    width: 95%;
    padding-inline: 2.5%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.pages-tab{
    aspect-ratio: 3/1;
    width: 24.9%;
    background: var(--app-background);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: var(--universal-border);
    border-radius: 20px;
}
.page-link{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: neue;
    text-decoration: none;
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(2rem, 0.6333rem + 0.5556vw, 4.5rem);
}
.page-link > *{
    margin: 5% 1%;
}
.page-link:hover p{
    text-decoration: underline;
}
.page-link:hover i{
    text-decoration: none;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 29s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: transparent;
	height: 100px;
	margin: auto;
	overflow:hidden;
	width: 100%;
    border: none;
    border-inline: none;
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
        height: 95%;
	}
}
.suggestion-box{
    border-radius: 20px;
    height: 100%;
    margin-inline: 0.5%;
    padding-inline: 1%;
    box-shadow: none;
    text-align: center;
    background-color: var(--app-background);
    border: var(--universal-border);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.suggestion-height-set{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--header-subtitle-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
}



/*.typography-box{
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 1vh;
    justify-content: center;
    align-items: center;
    border-bottom: var(--universal-border);
    background: var(--clr-typo-box);
    background-blend-mode: var(--clr-typo-blend);
}
.darkmode .typography-box{
    border-bottom: none;
}

  span{
    color:var(--ff-clr);
  }

  @keyframes typing {
    from {
      width: 0
    }
  }
  @keyframes blink {
    0%{
        border-color: transparent;
    }
    50% {
      border-right: 3px solid #000000
    }
  }
*/

.about-us-text-block{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.about-us{
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background: var(--header-background);
    border: var(--universal-border);
}
.about-us-label{
    height: 15%;
    width: 30%;
    margin-top: 0.5%;
    margin-bottom: 0.2%;
    text-align: center;
    color: var(--ff-clr);
    font-family: text-labels;
    font-size: clamp(0.8rem, 0.6333rem + 0.5556vw, 1.3rem);    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.about-us p{
    height: 80%;
    text-align: center;
    color: var(--ff-clr);
    font-family: text-labels;
    font-size: clamp(0.6rem, 0.4667rem + 0.4444vw, 1rem);   
    display: flex;
    margin-inline: 1%;
    align-items: center;
    justify-content: center;
}
.sign-off{
    width: 20%;
}
.sign-off i{
    margin-inline: 1%;
}
.spotify-playlist-quiz-container-large{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    background: transparent;
    align-items: center;
    justify-content: center;
}
.spotify-playlist-box{
    height: 100%;
    width: 48.5%;
    border-radius: 25px;
    margin-inline: 1vw;
    justify-content: center;
    text-align: center;
    color: var(--ff-clr);
    font-family: neue;
    font-size: clamp(0.7rem, 0.5333rem + 0.5556vw, 1.2rem);
    background: var(--header-background);
    border: var(--universal-border);
}
.spotify-playlist-otd-label{
    height: 7%;
    width: 100%;
    text-align: center;
    color: var(--ff-clr);
    font-family: neue;
    font-size: clamp(0.9rem, 0.7333rem + 0.5556vw, 1.4rem);
    display: flex;
    align-items: center;
    text-decoration: underline;
    justify-content: center;
}
.quiz-otd-label{
    height: 7%;
    width: 100%;
    text-align: center;
    color: var(--ff-clr);
    font-family: neue;
    font-size: clamp(0.9rem, 0.7333rem + 0.5556vw, 1.4rem);
    display: flex;
    align-items: center;
    text-decoration: underline;
    justify-content: center;
}
.quiz-box{
    height: 100%;
    width: 48.5%;
    border-radius: 25px;
    margin-inline: 1vw;
    justify-content: center;
    text-align: center;
    color: var(--ff-clr);
    font-family: neue;
    font-size: clamp(0.7rem, 0.5333rem + 0.5556vw, 1.2rem);
    background: var(--header-background);
    border: var(--universal-border);
}
.app{
    width: 90%;
    height: 80%;
    padding-inline: 5%;
    border-radius: 10px;
  }
 
  .app h1{
    font-size: 25px;
    color: var(--ff-clr);
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: var(--universal-border);
  }
 
  .quiz{
    padding: 20px 0;
    height: 80%;
  }

  #answer-buttons{
    height: 70%;
  }
 
  .quiz h2{
    font-size: 18px;
    color: var(--ff-clr);
    padding-bottom: 5px;
    text-align: center;
  }
 
  .btn{
    background: var(--quiz-btn-background);
    color: var(--ff-clr);
    width: 100%;
    height: 21%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
    border: var(--universal-border);
    font-size: 18px;
    font-family: neue;
    font-weight: bold;
  }
 
  .btn:disabled{
    cursor: context-menu;
  }
 
  #next-btn{
    background: var(--quiz-btn-background);
    color: var(--ff-clr);
    font-weight: 500;
    width: 20%;
    padding: 10px;
    height: 50px;
    margin: 20px auto 0;
    border-radius: 12px;
    cursor: pointer;
    display: none;
    border: var(--universal-border);
    font-size: 18px;
    font-family: neue;
  }
  .correct{
    animation: animate 1s linear;
    color: #050505;
    background-color: rgba(123, 255, 123, 0.651);
  }

  @keyframes animate{
    0%{
        background-color: rgb(176, 215, 252);
    }
    25%{
        background-color: rgb(156, 255, 156);
    }
    50%{
        background-color: rgb(115, 255, 115);
    }
    75%{
        background-color: rgb(143, 255, 143);
    }
    100%{
        background-color: rgb(123, 255, 123);
    }
    }
 
  .incorrect{
    background: #ff9393;
    color: #050505;
  }
.content-divider-graphic{
    height: 60vh;
    width: 100vw;
}













footer{
    height: 23vh;
    width: 100%;
    position: relative;
    background: var(--header-background);
    border-top: var(--universal-border);
    display: flex;
    flex-direction: column;
}
.social-navigation{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.social-tabs{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-navigation li{
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    border-radius: 21px;
}
.social-navigation li:hover p{
    color: var(--ff-header-clr);
}
.li-social-box{
    height: 96%;
    width: 99%;
    border-radius: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}
.social-link-text{
    height: 100%;
    width: 100%;
    background: transparent;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-link-text p{
    color: var(--ff-clr);
    font-family: var(--ff-text-label);
    font-size: 1rem;
    width: 80%;
    text-align: center;
}
.social-link-text:hover{
    transform: none;
    background: none;
    text-decoration: none;
    font-family: var(--ff-text-label);
    font-size: 1rem;
}

.social-navigation i{
    font-size: 3rem;
    color: var(--ff-clr);
    margin-inline: auto;
    width: 20%;
    text-align: center;
}
.resources-caption{
    height: 7%;
    width: 100%;
    font-size: 12px;
    color: #6f6f6f;
    font-family: var(--ff-text-label);
    padding: 0.1% 0 0 0.5%;
    text-decoration: underline;
}



@media only screen and (max-width: 500px) {
    
}