html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face {
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face {
  font-family: var(--ff-text-label);
  src: url("../fonts/NeueMontreal-Light.otf");
  letter-spacing: normal;
}
@font-face {
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: profont;
  src: url("../fonts/Pro Font.otf");
}
* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:root {
  --ff-text-label: text-labels;
  --ff-titles: neue;
  --clr-light: #f7f7f7;
  --clr-light-blend: screen, overlay, hard-light, color-burn, color-dodge, normal;
  --clr-box: #ffffff;
  --clr-nav-box: linear-gradient(121.28deg, #DC8400 0%, #FFFFFF 40.08%), linear-gradient(140.54deg, #FF0000 0%, #0047FF 72.37%), linear-gradient(121.28deg, #00E384 0%, #FF0000 100%), linear-gradient(121.28deg, #FA00FF 0%, #00FF38 100%), linear-gradient(127.43deg, #00F0FF 0%, #A80000 100%), radial-gradient(100.47% 100% at 50% 100%, #70FF00 0%, #680199 100%), linear-gradient(127.43deg, #B7D500 0%, #2200AA 100%);
  --clr-nav-blend: darken, hue, overlay, color, color-dodge, difference, normal;
  --clr-typo-box: none;
  --clr-typo-blend: overlay, difference, difference, difference, normal;
  --clr-dark: #000000;
  --clr-footer: #ffffff;
  --ff-clr: #131313;
  --ff-header-clr: #000000;
  --border: 1px solid #353535;
  --header-footer-border: 1px solid #cdcdcdae;
  --switch-border: 2px solid #cdcdcdae;
  --box-shadow-active: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  --box-shadow-inactive: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --transi-nav: transform .3s ease-in-out;
  --transf-nav: scale(1.05);
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.darkmode {
  --ff-text-label: text-labels;
  --ff-titles: neue;
  --clr-light: #eaeaea;
  --clr-box: #0e0e0e;
  --clr-nav-box: linear-gradient(121.28deg, #DC8400 0%, #FFFFFF 40.08%), linear-gradient(140.54deg, #FF0000 0%, #0047FF 72.37%), linear-gradient(121.28deg, #00E384 0%, #FF0000 100%), linear-gradient(121.28deg, #FA00FF 0%, #00FF38 100%), linear-gradient(127.43deg, #00F0FF 0%, #A80000 100%), radial-gradient(100.47% 100% at 50% 100%, #70FF00 0%, #680199 100%), linear-gradient(127.43deg, #B7D500 0%, #2200AA 100%);
  --clr-nav-blend: darken, hue, overlay, color, color-dodge, difference, normal;
  --clr-typo-box: radial-gradient(80.99% 100% at 50% 0%, #FFFFFF 0%, #00801C 100%), linear-gradient(180deg, #FFF500 0%, #000000 100%), linear-gradient(83.76deg, #5000F9 3.4%, #000000 96.6%), radial-gradient(70.71% 99% at 100% 39.75%, #8F00FF 0%, #0F0018 100%), radial-gradient(70.41% 100% at 50% 0%, #D5B300 0%, #2200AA 100%);
  --clr-typo-blend: overlay, difference, difference, difference, normal;
  --clr-dark: #030303;
  --clr-footer: #000000;
  --ff-clr: #d3d3d3;
  --ff-header-clr: #c3c3c3;
  --border: 1.5px solid #575757;
  --header-footer-border: 1.5px solid #101010d5;
  --switch-border: 2px solid #292929ae;
  --box-shadow-active: none;
  --box-shadow-inactive: none;
  --typo-text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
  0px -4px 10px rgba(255,255,255,0.3);
  --transi-nav: transform .3s ease-in-out;
  --transf-nav: scale(1.05);
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

::-webkit-scrollbar {
  background: var(--background);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #575757;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  position: relative;
  font-size: 100%;
  min-height: 100%;
  max-width: 100vw;
  margin: 0;
  background: var(--background);
  background-blend-mode: var(--clr-light-blend);
}

header {
  width: 100vw;
  height: 50px;
  background: var(--clr-box);
  border-bottom: var(--header-footer-border);
  position: fixed;
  z-index: 2;
}

.darkmode header {
  border-bottom: 1px solid #616161;
  background: var(--clr-dark);
}

nav {
  width: 98%;
  height: 100%;
  padding-inline: 1%;
  display: flex;
  align-items: center;
}

.logo-title-box {
  text-decoration: none;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home-refresh-via-title-logo {
  height: 100%;
  width: 13%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

li.header-nav-pills {
  height: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
}

.logo-title-break {
  width: 2%;
  margin-inline: 5%;
  height: 90%;
  margin-top: 1.5%;
  background: var(--ff-header-clr);
}

h1 {
  color: var(--ff-header-clr);
  font-family: neue;
  letter-spacing: 0.001rem;
  font-size: 2.1875rem;
}

button {
  width: 80px;
  height: 80%;
  background: transparent;
  border: none;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--box-shadow-inactive);
  cursor: pointer;
}

button i, .darkmode button i {
  margin-inline: auto;
}

.darkmode button {
  border: var(--switch-border);
  width: 80px;
}

.darkmode .gg-moon {
  color: #ffffff;
}

.gg-moon {
  color: #e0e0e0;
}

.darkmode .gg-sun {
  color: #313131;
}

.gg-sun {
  color: #ffae00;
}

form {
  width: 200px;
  height: 60%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-inline: 1%;
}

input {
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: var(--ff-clr);
  font-family: var(--ff-text-label);
  padding-inline: 6%;
  border: none;
  border-bottom: 1px rgba(55, 55, 55, 0.7019607843) solid;
  background: none;
}

::-webkit-search-cancel-button {
  display: none;
}

input:focus, input:active {
  outline: none;
}

.settings {
  height: 70%;
  aspect-ratio: 1.5/1;
  display: flex;
  text-decoration: none;
  color: #7d7d7d;
  font-family: var(--ff-text-label);
  align-items: center;
  justify-content: center;
  background: var(--clr-box);
  border-radius: 100px;
  margin-inline: 2%;
  box-shadow: var(--box-shadow-active);
  cursor: pointer;
  overflow: hidden;
}

.settings:active {
  box-shadow: none;
}

.darkmode .settings {
  border: var(--switch-border);
}

.sub-menu-wrap {
  max-height: 100px;
  height: 0;
  width: 365px;
  background: var(--clr-box);
  position: absolute;
  top: 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  right: 10px;
  border-radius: 15px;
}

.sub-menu-wrap.open-menu {
  height: 100px;
  border: var(--header-footer-border);
}

.darkmode .sub-menu-wrap.open-menu {
  height: 100px;
  border: var(--switch-border);
}

.sub-menu {
  height: 100%;
  width: 100%;
  z-index: 20000000000;
}

main {
  background: transparent;
  position: relative;
  min-height: 93vh;
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
}

.typography-box {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-typo-box);
  background-blend-mode: var(--clr-typo-blend);
}

.typing-demo {
  width: 50%;
  height: 80%;
  animation: typing 2s steps(50), step-end 4 alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: transparent;
  font-family: neue;
  color: var(--ff-clr);
  font-size: clamp(0.9375rem, -0.0833rem + 3.4028vw, 4rem);
  margin-top: -1%;
  text-shadow: var(--text-shadow);
}

span {
  color: var(--ff-clr);
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-right: 3px solid #000000;
  }
}
.page-nav-boxes-container {
  background: transparent;
  width: 100%;
  height: 40vh;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.category-nav {
  width: 18%;
  margin-inline: auto;
  height: 85%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  border-radius: 24px;
  z-index: 1;
  background: var(--clr-box);
  background-blend-mode: var(--clr-nav-blend);
  padding: 0;
  box-shadow: none;
  border: var(--header-footer-border);
}

.category-nav:hover {
  transition: var(--transi-nav);
  transform: var(--transf-nav);
}

.nav-description {
  display: none;
}

h2 {
  color: var(--ff-clr);
  font-size: 2.4rem;
  font-family: neue;
}

.typography-box-lower {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  background-position: 0;
}

.suggestion-box-tab-container {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.suggestion-box {
  background: var(--clr-box);
  width: 23%;
  height: 80%;
  margin-inline: auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: var(--header-footer-border);
}

.suggestion-box:hover {
  animation: gelatine 0.5s;
}

@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.about-us-text-block {
  width: 100%;
  height: 10vh;
  display: flex;
  border: none;
}

.spotify-playlist-quiz-container-large {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.spotify-playlist-bg-box {
  height: 90%;
  width: 60%;
  border-radius: 25px;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}

iframe {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.spotify-playlist-box {
  height: 100%;
  width: 100%;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotify-playlist-otd-label {
  height: 7%;
  width: 20%;
  margin-left: 5%;
  color: var(--ff-clr);
  font-family: var(--ff-text-label);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.quiz-bg-box {
  height: 90%;
  width: 36%;
  border-radius: 25px;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}

.quiz-otd-label {
  height: 7%;
  width: 30%;
  margin-left: 5%;
  color: var(--ff-clr);
  font-family: var(--ff-text-label);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.quiz-box {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  justify-content: center;
  display: flex;
}

footer {
  height: 23vh;
  width: 100%;
  position: relative;
  background: var(--clr-footer);
  border-top: var(--header-footer-border);
  display: flex;
  flex-direction: column;
}

.social-navigation {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.social-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-navigation li {
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  border-radius: 21px;
}

.social-navigation li:hover p {
  color: var(--ff-header-clr);
}

.li-social-box {
  height: 96%;
  width: 99%;
  border-radius: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}

.social-link-text {
  height: 100%;
  width: 100%;
  background: transparent;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-link-text p {
  color: var(--ff-clr);
  font-family: var(--ff-text-label);
  font-size: 1rem;
  width: 80%;
  text-align: center;
}

.social-link-text:hover {
  transform: none;
  background: none;
  text-decoration: none;
  font-family: var(--ff-text-label);
  font-size: 1rem;
}

.social-navigation i {
  font-size: 3rem;
  color: var(--ff-clr);
  margin-inline: auto;
  width: 20%;
  text-align: center;
}

.resources-caption {
  height: 7%;
  width: 100%;
  font-size: 12px;
  color: #6f6f6f;
  font-family: var(--ff-text-label);
  padding: 0.1% 0 0 0.5%;
  text-decoration: underline;
}

.resource-pointer {
  height: 9%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: var(--header-footer-border);
}

#arrow {
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cfcfcf;
  font-size: 15px;
}

#arrow i {
  padding: 0;
  margin: 0;
}

.resources-img-box {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resources-img-box img {
  margin-inline: 7%;
}

.vercel {
  height: 30px;
  width: 135px;
}

.github {
  height: 50px;
  width: 135px;
}

.mongodb {
  height: 50px;
  width: 160px;
}

.font-awesome {
  height: 50px;
  width: 310px;
}/*# sourceMappingURL=home.css.map */