html, body { box-sizing: border-box;}

@font-face{
    font-family: text-labels;
    src: url("../fonts/Geist-Regular.otf");
}
@font-face{
    font-family: nav-box-font;
    src: url("../fonts/Geist-SemiBold.otf");
}
@font-face{
    font-family: var(--ff-text-label);
    src: url("../fonts/NeueMontreal-Light.otf");
    letter-spacing:normal;
}

@font-face{
    font-family: anurati;
    src: url("../fonts/Anurati-Regular.otf");
}

@font-face{
    font-family: neue;
    src: url("../fonts/NeueMontreal-Bold.otf");
}

@font-face{
    font-family: profont;
    src: url("../fonts/Maverix-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    scroll-behavior:smooth;
}
:root{
    --header-background: rgba(200, 200, 200, 0.6);
    --body-background: #e9e9e9;
    --footer-background: #c7bbc8;
    --nav-background: #dddddd;
    --nav-hover-background: #bbbbbb;
    --quiz-btn-background: #b9b0b0;
    --main-text-background: rgba(232, 221, 249, 0.035);
  
    --button-border: 1px solid #c4c4c4;
    --universal-border: 1px solid #c7c3c3;
    --nav-border: 1px solid rgb(127, 127, 127);
  
    --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
    --header-title-gradient: linear-gradient(to bottom, rgb(187, 208, 247), rgb(74, 79, 222), rgb(186, 124, 240));
    --header-subtitle-gradient: linear-gradient(to left, rgb(229, 231, 235), rgb(211, 211, 211), rgb(231, 231, 231));
  
    --ff-icon-color: #656565;
    --ff-menu-icon-color: rgb(98, 0, 234);
    --ff-search-color: #515151;
    --ff-nav-color: #363636;
    --ff-nav-hover-color: #242424;
    --ff-clr: #1f1f1f;
    --ff-github-color: #000000;
    --ff-html-color: #E44D26;
    --ff-css-color: #1572B6;
    --ff-js-color: #F7DF1E;
    --ff-scss-color: #912952;
    --ff-php-color: #4F5D95;
    --ff-x-color: #000000;
    --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    --ff-facebook-color: #1877F2;
  }

  
body{
    font-size: 100%;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    background: url(../img/ai-bg.jpg);
    background-size: cover;
    user-select: none;
    display: grid;
    flex-direction: column;
}
.main-text-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    place-self: center;
    justify-self: center;
    padding: 2rem;
    border-radius: 15px;
    background: var(--main-text-background);
    backdrop-filter: blur(8px);
}
h1.page-title{
    font-family: neue;
    font-size: clamp(6.5rem, .23rem + 1vw, 7.5rem);
    background: var(--header-title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
span.logo-text{
    font-family: anurati;
    font-size: clamp(6.5rem, .23rem + 1vw, 7.5rem);
    background: var(--header-title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: -1rem;
    text-align: center;
}
p.under-title-description{
    font-family: neue;
    font-size: clamp(3.5rem, .23rem + 1vw, 5.5rem);
    background: var(--header-subtitle-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
span.highlighted-text{
    font-family: neue;
    font-size: clamp(3.5rem, .23rem + 1vw, 5.5rem);
    background: var(--header-title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






@media only screen and (min-width: 0px) and (max-width: 600px) {
    
}