html, body {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@font-face {
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face {
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face {
  font-family: search;
  src: url("../fonts/Geist-Light.otf");
}
@font-face {
  font-family: var(--ff-text-label);
  src: url("../fonts/NeueMontreal-Light.otf");
  letter-spacing: normal;
}
@font-face {
  font-family: anurati;
  src: url("../fonts/Anurati-Regular.otf");
}
@font-face {
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: profont;
  src: url("../fonts/Maverix-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:root {
  --header-background: rgb(255, 255, 255, 0.85);
  --body-background: #ffffff;
  --sidebar-background: rgb(252, 252, 252);
  --nav-background: #fcfcfc;
  --nav-hover-background: #bbbbbb;
  --quiz-btn-background: #b9b0b0;
  --button-background: #000;
  --input-background: #0e0e0e;
  --b-f-button-background: #e1e1e1ce;
  --button-border: 1px solid #969090;
  --universal-border: 1.75px solid rgb(211, 211, 211);
  --nav-border: 1.75px solid rgb(201, 201, 201);
  --nav-hover-border: 1.75px solid rgb(128, 128, 128);
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  --header-subtitle-gradient: linear-gradient(to right, #000000ed, #000000);
  --ff-icon-color: #d1d1d1;
  --timeline-track: #cfcfcf;
  --timeline-button: #000000;
  --playback-button: #afafaf;
  --playback-button-hover: #494949;
  --volume-hover: #353535;
  --expand-button: #cfcfcfca;
  --quiz-row-label-color: #000;
  --ff-menu-icon-color: rgb(98, 0, 234);
  --ff-search-color: #000000;
  --ff-nav-color: #181818;
  --ff-nav-hover-color: #a1a1a1;
  --ff-clr: #000000;
  --ff-github-color: #000000;
  --ff-html-color: #E44D26;
  --ff-css-color: #1572B6;
  --ff-js-color: #F7DF1E;
  --ff-scss-color: #912952;
  --ff-php-color: #4F5D95;
  --ff-x-color: #000000;
  --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --ff-facebook-color: #1877F2;
}

.darkmode {
  --header-background: rgb(6, 6, 6);
  --body-background: rgb(8,8,8);
  --sidebar-background: rgb(4,4,4);
  --nav-background: #0c0c0c;
  --nav-hover-background: #bbbbbb;
  --quiz-btn-background: #b9b0b0;
  --button-background: #fff;
  --input-background: #0e0e0e;
  --b-f-button-background: #1a1a1a;
  --button-border: 1px solid #969090;
  --universal-border: 1.75px solid #1f1f1f;
  --nav-border: 1.75px solid rgb(61, 61, 61);
  --nav-hover-border: 1.75px solid rgb(230, 230, 230);
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  /*linear-gradient(to right, #00dbde 0%, #fc00ff 100%)*/
  /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%)*/
  --header-subtitle-gradient: linear-gradient(to right, #f2f2f2ed, #ffffff);
  --ff-icon-color: #909090;
  --timeline-track: #6d6d6d;
  --timeline-button: #fff;
  --playback-button: #979797;
  --playback-button-hover: #ffffff;
  --volume-hover: #e2e2e2;
  --expand-button: #cfcfcfca;
  --quiz-row-label-color: #909090;
  --ff-menu-icon-color: rgb(98, 0, 234);
  --ff-search-color: #ffffff;
  --ff-nav-color: #ededed;
  --ff-nav-hover-color: #242424;
  --ff-clr: #ffffff;
  --ff-github-color: #000000;
  --ff-html-color: #E44D26;
  --ff-css-color: #1572B6;
  --ff-js-color: #F7DF1E;
  --ff-scss-color: #912952;
  --ff-php-color: #4F5D95;
  --ff-x-color: #000000;
  --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --ff-facebook-color: #1877F2;
}

body {
  font-size: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: var(--body-background);
}

header.main-page-header {
  height: 50px;
  border-bottom: var(--universal-border);
  background: var(--header-background);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.main-page-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.external-page-navigation {
  height: 100%;
}

.page-logo-title-container {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
  width: 250px;
}

span.page-title {
  font-size: clamp(1.1rem, 1.3333rem + 2.2222vw, 1.7rem);
  background: var(--header-subtitle-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: neue;
  height: clamp(1.5rem, 1.3333rem + 2.2222vw, 2.5rem);
  display: grid;
  place-items: center;
}

a {
  color: var(--ff-clr);
  text-decoration: none;
  font-family: text-labels;
}

a:hover {
  text-decoration: underline;
}

form.search-bar-container {
  height: 80%;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--nav-background);
  border-radius: 7px;
  border: var(--nav-border);
}

input.search-bar {
  padding-inline: 0.3rem 0;
  font-size: 0.8rem;
  width: 85%;
  border: none;
  background: transparent;
  color: var(--ff-clr);
  font-family: text-labels;
  font-weight: 200;
}

::-webkit-input-placeholder {
  color: #c0c0c0;
}

input:focus {
  outline: none;
}

button.search-button {
  background: none;
  font-size: 1rem;
  border: none;
  color: #888888;
  width: 15%;
}

::-webkit-search-cancel-button {
  display: none;
}

.appearance-buttons-container {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: first baseline;
}

.appearance-btn-group {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  color: var(--ff-icon-color);
  background: transparent;
  border: none;
}

button#appearance-btn {
  margin-inline: 0.2rem;
  color: var(--ff-icon-color);
}

main {
  height: calc(100vh - 51.75px);
  display: flex;
}

.col-1 {
  width: 15%;
  height: calc(100% - 3rem);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-status-container {
  display: block;
  margin-bottom: 0.5rem;
  width: calc(100% - 1.5rem);
}

span.player-status-text {
  font-size: 1.2rem;
  background: var(--header-title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: neue;
  text-align: left;
  padding: 0;
}

.song-art-container {
  aspect-ratio: 1;
  width: 90%;
  border-radius: 8px;
  border: var(--nav-border);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.expand-btn {
  visibility: hidden;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 4px;
  border: none;
  background: rgba(221, 221, 221, 0.431372549);
  aspect-ratio: 1;
  width: 8%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.fa-solid.fa-up-right-and-down-left-from-center {
  color: var(--expand-button);
}

img.song-art {
  border-radius: 5.5px;
  aspect-ratio: 1;
  width: 100%;
  display: block;
}

.song-art-container:hover {
  transform: scale(0.98);
  transition: transform 0.2s ease-in;
}

.song-art-container:hover .expand-btn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.expand-btn i {
  transition: color 0.1s ease;
}

.expand-btn:hover i {
  color: #f8f8f8;
  transition: color 0.2s ease;
}

.playback-container {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playback-button-group {
  display: flex;
  align-items: center;
}

button.back-forth {
  font-size: 1.3rem;
}

button.pause-button {
  font-size: 1.5rem;
}

button#playback-button {
  margin-inline: 0.3rem;
  color: var(--playback-button);
  transition: color 0.1s ease-in;
}

#playback-button:hover {
  color: var(--playback-button-hover);
  transition: color 0.1s ease-in;
}

hr {
  border: none;
  border-top: 2px var(--timeline-track) solid;
  border-radius: 100vw;
  width: 100%;
  height: 0px;
}

.playback-timeline {
  width: 100%;
  height: 20px;
  margin: 0.3rem 0;
  display: flex;
  flex-direction: column;
}

.time-labels {
  display: flex;
  justify-content: space-between;
  font-family: text-labels;
  font-size: 10px;
  margin: 0.3rem 0;
}

input.song-timeline[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 10px 0 0 0 0;
  width: 100%;
  background: none;
  cursor: pointer;
}

input.song-timeline[type=range]::-webkit-slider-thumb {
  height: 7px;
  width: 7px;
  border-radius: 50px;
  background: var(--timeline-button);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

.music-settings-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  color: var(--ff-clr);
  margin: 0.3rem 0;
  gap: 0.5rem;
  width: 100%;
}

.music-settings-buttons i {
  cursor: pointer;
}

.music-menu-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.music-menu-button-group i {
  color: var(--ff-clr);
}

input.volume-control[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 10px 0;
  width: 80px;
  background: none;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--timeline-track);
  border-radius: 50px;
}

input.volume-control[type=range]::-webkit-slider-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: var(--timeline-button);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: var(--volume-hover);
}

.col-2 {
  width: 70%;
  height: 100%;
  border-inline: var(--universal-border);
}

.col-3 {
  width: 15%;
  height: 100%;
}

#col-inline {
  background: var(--sidebar-background);
}

.music-player-expanded {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(15, 15, 15, 0.486);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.close-expanded-music-player {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 4px;
  border: none;
  background: rgba(221, 221, 221, 0.431372549);
  aspect-ratio: 1;
  width: 2rem;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
}

.close-expanded-music-player {
  transition: color 0.1s ease;
}

.close-expanded-music-player:hover i {
  color: #f8f8f8;
  transition: color 0.2s ease;
}/*# sourceMappingURL=music.css.map */