html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face {
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face {
  font-family: var(--ff-text-label);
  src: url("../fonts/NeueMontreal-Light.otf");
  letter-spacing: normal;
}
@font-face {
  font-family: anurati;
  src: url("../fonts/Anurati-Regular.otf");
}
@font-face {
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}
@font-face {
  font-family: profont;
  src: url("../fonts/Maverix-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:root {
  --header-background: rgb(252, 252, 252);
  --body-background: #ffffff;
  --footer-background: #c7bbc8;
  --nav-background: #0c0c0c;
  --nav-hover-background: #bbbbbb;
  --quiz-btn-background: #b9b0b0;
  --button-border: 1.75px solid #969090;
  --universal-border: 1.5px solid #cbcbcb;
  --nav-border: 2px solid rgb(127, 127, 127);
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  --header-subtitle-gradient: linear-gradient(to right, #050505ed, #0b0b0b);
  --ff-icon-color: #656565;
  --ff-menu-icon-color: rgb(98, 0, 234);
  --ff-search-color: #515151;
  --ff-nav-color: #363636;
  --ff-nav-hover-color: #242424;
  --ff-clr: #1f1f1f;
  --ff-github-color: #000000;
  --ff-html-color: #E44D26;
  --ff-css-color: #1572B6;
  --ff-js-color: #F7DF1E;
  --ff-scss-color: #912952;
  --ff-php-color: #4F5D95;
  --ff-x-color: #000000;
  --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --ff-facebook-color: #1877F2;
}

.darkmode {
  --header-background: transparent;
  --body-background: linear-gradient(to bottom, #101010,#050505);
  --footer-background: #1f1f1f;
  --nav-background: #181818;
  --nav-hover-background: #292929;
  --quiz-btn-background: #1c1b1b;
  --app-background: #0f0f0f;
  --button-border: 2px solid #353535;
  --universal-border: 1.5px solid #424040;
  --nav-border: 2px solid rgb(91, 91, 91);
  --border-gradient: linear-gradient(45deg, #e7792a, #f07086);
  --header-title-gradient: rgb(251, 140, 0);
  --header-subtitle-gradient: linear-gradient(to right, #404040ed, #6b6b6b);
  --ff-icon-color: #3d3d3d;
  --ff-menu-icon-color: rgb(251, 140, 0);
  --ff-search-color: #a4a4a4;
  --ff-nav-color: linear-gradient(to right, #8b8b8bed, #7a7a7a);
  --ff-nav-hover-color: #cfcfcf;
  --ff-clr: #c7c7c7;
  --ff-github-color: #ffffff;
  --ff-html-color: #E44D26;
  --ff-css-color: #1572B6;
  --ff-js-color: #F7DF1E;
  --ff-scss-color: #912952;
  --ff-php-color: #4F5D95;
  --ff-x-color: #ffffff;
  --ff-instagram-color: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  --ff-facebook-color: #1877F2;
}

body {
  position: relative;
  font-size: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: var(--body-background);
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center right;
  margin-right: 3rem;
}

.welcome-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.large {
  font-size: 5rem;
  font-family: neue;
}

.small {
  font-size: 3rem;
  font-family: neue;
}

.highlight {
  background: var(--header-title-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-break: loose;
  white-space: nowrap;
}

.form-container {
  height: 500px;
  width: 400px;
  border-radius: 15px;
  padding: 0.5rem;
  background: var(--nav-background);
  border: var(--button-border);
  display: grid;
}

p.form-title {
  font-size: 1.1rem;
  font-family: text-labels;
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  margin: 12% 0;
  height: 100%;
  width: 100%;
  align-items: center;
}

input {
  width: 94%;
  height: 50px;
  color: #444444;
  border-radius: 8px;
  border: none;
  margin-top: 3%;
  font-family: text-labels;
  font-size: 0.9rem;
  padding-inline: 3%;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  h1 {
    width: 45px;
  }
}/*# sourceMappingURL=sign-up-login.css.map */