html, body {height: 100vh; box-sizing: border-box; user-select: none; 
}

*{
    margin: 0;
    padding: 0;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    font-variant: normal;
    font-stretch: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-optical-sizing: none;
    transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}
@font-face{
  font-family: text-labels;
  src: url("../fonts/Geist-Regular.otf");
}
@font-face{
  font-family: nav-box-font;
  src: url("../fonts/Geist-SemiBold.otf");
}
@font-face{
font-family: search;
src: url("../fonts/Geist-Light.otf");
}
@font-face{
  font-family: light-text;
  src: url("../fonts/NeueMontreal-Medium.otf");
  letter-spacing:normal;
}

@font-face{
  font-family: anurati;
  src: url("../fonts/Anurati-Regular.otf");
}

@font-face{
  font-family: neue;
  src: url("../fonts/NeueMontreal-Bold.otf");
}

@font-face{
  font-family: profont;
  src: url("../fonts/Maverix-Regular.ttf");
}
@font-face{
font-family: loop;
src: url("../fonts/Koeltoerals-owwaz.ttf");
}
:root{
  --header-background: rgb(9, 9, 9);
  --body-background: #ffffff;
  --appearance-btn-hover: rgba(203, 203, 203, 0.8);
  --to-top-btn-background: #131313;
  --search-column-background: #f4f4f4;
  --input-search-background: #e5e5e5;
  --filter-btn-background: #f4f4f4;
  --filter-hover-background: #e5e5e5;
  --filter-type-background: #c0c0c0;
  --container-background: #ededed;
  --content-nav-btn: rgb(62, 151, 195);
  --footer-background: #f4f4f4;

  --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --appearance-btn-clr: #141414;
  --ff-to-top: #c3c3c3;
  --ff-btn-clr: #050505;
  --ff-btn-hover-clr: #ffffff;
  --ff-input-clr: #101010;
  --ff-link-clr: #101010;
  --ff-body-text: #101010;
  --ff-inactive-text: #959595;
  --ff-descriptive-text: #5c5c5c;

  --header-border: 1.25px #cdcdcd solid;
  --to-top-border: 2px #4e4e4e solid;
  --search-column-border: 1.5px #cdcdcd solid;
  --input-search-border: 1.25px #cdcdcd solid;
  --game-border: 1.65px #8d8d8d solid;
  --pause-play-border: 2px #111111 solid;
}

.darkmode{
  --header-background: rgb(13, 13, 13);
  --body-background: rgb(8,8,8);
  --appearance-btn-hover: rgba(64, 64, 64, 0.8);
  --to-top-btn-background: #111111;
  --search-column-background: rgb(11, 11, 11);
  --input-search-background: rgb(21, 21, 21);
  --filter-btn-background: rgb(11, 11, 11);
  --filter-hover-background: rgb(21, 21, 21);
  --filter-type-background: rgb(22, 22, 22);
  --container-background: rgb(14, 13, 13);
  --footer-background: rgb(11, 11, 11);

  --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --appearance-btn-clr: #e0e0e0;
  --ff-to-top: #c3c3c3;
  --ff-btn-clr: rgb(172, 172, 172);
  --ff-btn-hover-clr: #ffffff;
  --ff-input-clr: rgb(220, 220, 220);
  --ff-link-clr: #a4a4a4;
  --ff-body-text: #e0e0e0;
  --ff-inactive-text: #737373;
  --ff-descriptive-text: #6b6b6b;

  --header-border: 1.25px #272727 solid;
  --to-top-border: 2px #272727 solid;
  --search-column-border: 1.5px #272727 solid;
  --input-search-border: 1.25px #272727 solid;
  --game-border: 1.65px #272727 solid;
  --pause-play-border: 2px #e1e1e1 solid;
}

  body{
    background: var(--body-background);
    height: 100%;
    width: 100%;
    transition: background .2s ease-in-out, color .2s ease-in-out, border ease-in-out, opacity 2s;
  }
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--body-background);
    z-index: 9999;
    display: grid;
    place-items: center;
}

/* Loader animation */
#loader {
    height: fit-content;
    width: fit-content;
    animation: spin 1s linear infinite;
}
span.page-loader-title{
  font-size: 4.5rem;
  font-family: neue;
  background: var(--ff-page-title-clr);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: loading-text-anim 3s infinite;
}
@keyframes loading-text-anim{
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
button{
  cursor: pointer;
}
main.full-page-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.navigation-column{
  width: 20%;
  height: 100%;
  border-right: var(--search-column-border);
  background: var(--container-background);
  display: flex;
  flex-direction: column
}
header.nav-col-header{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
span.page-title{
  font-size: 1.75rem;
  font-family: neue;
  color: var(--ff-body-text);
  text-align: center;
}
p.page-title-caption{
  font-size: .9rem;
  font-family: text-labels;
  color: var(--ff-body-text);
  text-align: center;
}
main.nav-col-main{
  flex-grow: 1;
}
footer.nav-col-footer{
  height: fit-content;
  display: flex;
  padding: .5rem 1rem;
  align-items: center;
  justify-content: space-between;
}
.footer-page-text{
  height: fit-content;
}
p.array-tm-text{
  font-size: .8rem;
  font-family: text-labels;
  color: var(--ff-inactive-text);
}
.appearance-btn-group{
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.appearance-mode-btn{
  display: grid;
  place-items: center;
  background: none;
  border: none;
  aspect-ratio: 1;
  // padding: .2rem;
  height: 100%;
  border-radius: 100vw;
  color: var(--appearance-btn-clr);
  transition: color .2s ease-in-out;
}
button.appearance-mode-btn:hover{
  background: var(--appearance-btn-hover);
  transition: color .2s ease-in-out;
}
.navigation-container{
  height: 100%;
  width: 100%;
  padding: .5rem 1rem;
}
ul.navigation-ul-wrapper{
  display: flex;
  flex-direction: column;
}
li.navigation-item{
  height: fit-content;
  padding: .1rem .3rem;
  list-style-type: none;
  margin: .5rem 0;
}
button.navigate-to-section-btn{
  background: transparent;
  border: none;
  font-family: neue;
  color: var(--ff-body-text);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: .3rem;
}
button.navigate-to-section-btn > * {
  margin-inline: .3rem;
}
button.navigate-to-section-btn i{
  width: 25px;
}
.content-column{
  flex-grow: 1;
}
