:root{
    --header-background: rgb(9, 9, 9);
    --body-background: #ffffff;
    --navigation-background: #f1f1f1;
    --appearance-btn-hover: rgba(172, 172, 172, 0.8);
    --to-top-btn-background: #131313;
    --search-column-background: #f4f4f4;
    --input-search-background: #e5e5e5;
    --filter-btn-background: #f4f4f4;
    --filter-hover-background: #e5e5e5;
    --filter-type-background: #c0c0c0;
    --container-background: #ededed;
    --content-nav-btn: rgb(62, 151, 195);
    --tab-background: #d5d5d5;
    --footer-background: #f4f4f4;

    --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --appearance-btn-clr: #1f1f1f;
    --ff-to-top: #c3c3c3;
    --ff-btn-clr: #050505;
    --ff-btn-hover-clr: #ffffff;
    --ff-input-clr: #101010;
    --ff-link-clr: #101010;
    --ff-body-text: #101010;
    --ff-inactive-text: #959595;
    --ff-descriptive-text: #5c5c5c;

    --header-border: 1.25px #cdcdcd solid;
    --to-top-border: 2px #4e4e4e solid;
    --column-border: 1.5px #cdcdcd solid;
    --input-search-border: 1.25px #cdcdcd solid;
    --game-border: 1.65px #8d8d8d solid;
    --pause-play-border: 2px #111111 solid;
    --tab-border: 1.65px #bababa solid;
  }
  
  .darkmode{
    --header-background: rgb(13, 13, 13);
    --body-background: rgb(21, 21, 21);
    --navigation-background: rgb(24, 24, 24);
    --appearance-btn-hover: rgba(64, 64, 64, 0.8);
    --to-top-btn-background: #111111;
    --search-column-background: rgb(11, 11, 11);
    --input-search-background: rgb(21, 21, 21);
    --filter-btn-background: rgb(11, 11, 11);
    --filter-hover-background: rgb(21, 21, 21);
    --filter-type-background: rgb(22, 22, 22);
    --container-background: rgb(14, 13, 13);
    --tab-background: rgb(23, 23, 23);
    --footer-background: rgb(11, 11, 11);

    --ff-page-title-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --appearance-btn-clr: #e0e0e0;
    --ff-to-top: #c3c3c3;
    --ff-btn-clr: rgb(172, 172, 172);
    --ff-btn-hover-clr: #ffffff;
    --ff-input-clr: rgb(220, 220, 220);
    --ff-link-clr: #a4a4a4;
    --ff-body-text: #e0e0e0;
    --ff-inactive-text: #737373;
    --ff-descriptive-text: #6b6b6b;

    --header-border: 1.25px #272727 solid;
    --to-top-border: 2px #272727 solid;
    --column-border: 1.5px #272727 solid;
    --input-search-border: 1.25px #272727 solid;
    --game-border: 1.65px #272727 solid;
    --pause-play-border: 2px #e1e1e1 solid;
    --tab-border: 1.65px #1f1f1f solid;
  }