html, body {
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out, background 0s ease-in-out, color 0s ease-in-out, border 0s ease-in-out, fill 0s ease-in-out;
  transition-delay: 0;
}

@font-face {
  font-family: body-text;
  src: url("../fonts/Relevance-trial-ExtraBold-BF65d41be200cb9.ttf");
}
:root {
  --body-background-clr: /* hsla(280,100%,47%,1) */ #fff;
  --body-background-gradient:
    radial-gradient(at 15% 97%, hsla(172,100%,82%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(201,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 93% 89%, hsl(286, 100%, 90%) 0px, transparent 50%),
  radial-gradient(at 71% 81%, hsla(31,100%,100%,1) 0px, transparent 50%),
  radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsl(0deg 0% 100%) 0px, transparent 50%);
  --appearance-btn-hover: rgba(255, 255, 255, 0.349);
  --main-background: #f3f3f3;
  --header-background: #e9e9e9;
  --btn-background: #050505;
  --about-us-info-container-bg-clr: #efefef;
  --overlay-background: #ffffff53;
  --input-background: #ebebeb;
  --sidebar-bg: #ffffff;
  --ff-body-text-clr: #050505;
  --ff-btn-text: #f4f4f4;
  --ff-slogan-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 26%, #FFCC70 100%);
  --ff-info-text-gradient: #000000;
  --ff-drop-nav-link-clr: #504f4f;
  --ff-information-icon-clr: #3f3f3f;
  --ff-drop-info-clr: #2b2b2b;
  --container-border: 1.5px #cdcdcd solid;
  --about-us-information-cont-border: 1.5px #dbdbdb solid;
  --about-info-icon-border: 1px #c7c7c7 solid;
  --about-header-border-btm: 1.5px #4c4c4c solid;
  --menu-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.darkmode {
  --body-background-clr: hsla(0,0%,0%,1);
  --body-background-gradient:
      /* radial-gradient(at 0% 96%, hsla(12,4%,54%,1) 0px, transparent 50%),
      radial-gradient(at 100% 0%, hsla(201,61%,77%,1) 0px, transparent 50%),
      radial-gradient(at 93% 89%, hsla(199,45%,45%,1) 0px, transparent 50%),
      radial-gradient(at 60% 100%, hsla(290,100%,17%,1) 0px, transparent 50%),
      radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(239,48%,43%,1) 0px, transparent 50%); */
  radial-gradient(at 17% 18%, hsla(115,0%,11%,1) 0px, transparent 50%),
  radial-gradient(at 56% 51%, hsla(158,0%,3%,1) 0px, transparent 50%),
  radial-gradient(at 50% 76%, hsla(103,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 44% 99%, hsla(240,0%,26%,1) 0px, transparent 50%),
  radial-gradient(at 94% 10%, hsla(0,0%,11%,1) 0px, transparent 50%),
  radial-gradient(at 89% 76%, hsla(0,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 23% 48%, hsla(63,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 6% 82%, hsla(0,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(180,0%,0%,1) 0px, transparent 50%);
  --main-background: #000000;
  --header-background: #272727;
  --btn-background: #f9f9f9;
  --about-us-info-container-bg-clr: #0f0f0f;
  --overlay-background: #12121253;
  --input-background: #121212;
  --sidebar-bg: #020202;
  --ff-body-text-clr: #ffffff;
  --ff-btn-text: #0a0a0a;
  --ff-info-text-gradient: linear-gradient(to right, #545454, #c6c6c6);
  --ff-drop-nav-link-clr: #969696;
  --ff-information-icon-clr: #999999;
  --ff-drop-info-clr: #d2d2d2;
  --container-border: 1.5px #3a3a3a solid;
  --about-us-information-cont-border: 1.5px #202020 solid;
  --about-info-icon-border: 1px #262626 solid;
  --menu-box-shadow: rgba(77, 77, 77, 0.12) 0px 2px 4px 0px, rgba(136, 136, 136, 0.32) 0px 2px 16px 0px;
}

button {
  cursor: pointer;
  color: var(--ff-icon-color);
  background: transparent;
  border: none;
  -webkit-margin-top-collapse: collapse;
}

::-webkit-search-cancel-button {
  display: none;
}

.appearance-btn-group {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

button.appearance-mode-btn {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 100vw;
  color: var(--ff-body-text-clr);
}

a {
  text-decoration: none;
  color: var(--ff-body-text-clr);
}

body {
  background-color: var(--body-background-clr);
  display: flex;
}

.page-content-wrapper {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header.page-header {
  height: 50px;
  width: 100%;
  padding-inline: 1rem;
  background: var(--header-background);
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo-title-wrapper {
  display: flex;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
}

span.title-text {
  font-size: 1.8rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

.nav-container {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

nav.navigation-links-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  align-items: center;
}

span.nav-title {
  font-size: 1.3rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

.mobile-nav-menu-opener-container {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  place-items: center;
  display: none;
}

button.mobile-nav-menu-opener-btn {
  font-size: 2.5rem;
  color: var(--ff-body-text-clr);
}

.mobile-slide-in-menu {
  display: none;
}

.main-page-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.large-intro-text-container {
  height: 200px;
  display: grid;
  place-items: center;
  text-align: center;
}

span.large-intro-text {
  font-size: 3rem;
  font-family: neue;
  color: var(--ff-body-text-clr);
}

.sonar-feature-showcase-container {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background: var(--header-background);
}

.sonar-feature-showcase-item {
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.sonar-feature-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  color: #ff4055;
}

.fa-forward, .fa-backward {
  font-size: 1.6rem;
}

.sonar-showcase-text-wrapper {
  height: 100px;
  text-align: center;
  font-family: light-text;
  color: var(--ff-body-text-clr);
  font-size: 1rem;
}

span.subtext-information {
  font-size: 0.8rem;
  font-family: text-labels;
  color: var(--ff-drop-info-clr);
}

.streaming-service-img-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0 0 0;
  background: var(--input-background);
}

.desktop-service-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 36px;
}

.mobile-service-imgs {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6px;
}

.service-graphic-wrapper {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: grid;
  place-items: center;
}

img.service-graphic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apple-music-logo-text {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: var(--ff-body-text-clr);
}

.spotify-logo-text {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tidal-text-logo {
  width: 70%;
  fill: var(--ff-body-text-clr);
}

.deezer-logo-text {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg.deezer-logo-text path {
  fill: var(--ff-body-text-clr);
}

img.service-logo-png {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-info-and-button {
  height: 33%;
  display: grid;
  place-items: center;
}

button.choose-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 1rem;
  background: var(--btn-background);
  color: var(--ff-btn-text);
  font-family: text-labels;
  border-radius: 100vw;
}

button.choose-service-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 1.2rem;
  background: #ff4055;
  color: #fff;
  font-family: light-text;
  border-radius: 100vw;
}

button.close-menu-btn {
  font-size: 1.5rem;
  color: var(--ff-body-text-clr);
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
}

.about-us-site-description-wrapper {
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
  padding: 6px;
  margin-inline: auto;
  border-bottom: var(--about-us-information-cont-border);
}

.about-us-site-description-wrapper:last-of-type {
  margin-bottom: 16px;
}

header.information-container-header {
  height: -moz-fit-content;
  height: fit-content;
}

.information-header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.about-us-on-page-search-box {
  min-height: 50px;
  max-height: 200px;
  width: 100%;
  display: grid;
  place-items: center;
}

form.about-us-page-search-form {
  background: var(--input-background);
  border: var(--container-border);
  height: 50px;
  width: 80%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6px;
}

input.about-us-content-search-input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding-inline: 6px;
  color: var(--ff-body-text-clr);
  font-size: 1rem;
  font-family: text-labels;
  border-radius: 6px;
}
input.about-us-content-search-input ::-moz-placeholder {
  color: var(--ff-drop-nav-link-clr);
}
input.about-us-content-search-input ::placeholder {
  color: var(--ff-drop-nav-link-clr);
}

.search-icon-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  padding-inline: 6px;
  margin-left: 6px;
  color: var(--ff-information-icon-clr);
}

form.about-us-page-search-form:focus {
  outline: var(--about-header-border-btm);
}

.info-icon-title-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.information-type-icon-wrapper {
  height: 40px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 6px;
}

.information-type-icon-wrapper i {
  scale: 1.2;
  color: var(--ff-information-icon-clr);
}

span.header-title {
  font-size: 1.2rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

.info-text-wrapper {
  margin-top: 6px;
}

p.info-text {
  font-size: 1rem;
  font-family: text-labels;
  color: var(--ff-drop-info-clr);
}

.tech-stack-icon-container {
  height: 100px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0.5rem;
  margin-bottom: 6px;
  fill: var(--ff-body-text-clr);
  gap: 25px;
}

.tech-icon-wrapper {
  font-size: 2.5rem;
  color: var(--ff-information-icon-clr);
}

.fa-html5 {
  color: #e34c36;
}

.fa-css3 {
  color: #264de4;
}

.fa-sass {
  color: #cc6699;
}

.fa-js {
  color: #f0db4f;
}

.fa-github {
  color: var(--ff-body-text-clr);
}

svg.vercel-about-logo {
  height: 2rem;
}

.focus-info-btn-wrapper {
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1;
}

button.focus-info-btn {
  height: 100%;
  width: 100%;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.gg-chevron-right {
  color: var(--ff-body-text-clr);
  transition: rotate 0.2s ease;
}

/* .streaming-service-logo-slider-container{
    height: 100px;
    width: 100vw;
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    background: #f4f4f4;
}
.logo-slider-img-wrapper{
    display: inline-block;
    animation: 10s slide infinite linear;
    margin: 0;
}
.logo-slider-img-wrapper img{
    height: 50px;
    margin-inline: 40px;
}
@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} */
main {
  flex-grow: 1;
  height: 100%;
  display: flex;
  gap: 30px;
}

.side-page-content {
  width: 250px;
  height: 100%;
  background-color: var(--sidebar-bg);
  border-right: var(--about-info-icon-border);
}

.top-artists-sidebar-header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border-bottom: var(--container-border);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4px 1rem;
  gap: 8px;
}

.select-platform-top-artists-container {
  display: flex;
  color: var(--ff-information-icon-clr);
  font-family: text-labels;
  font-size: 0.8rem;
  gap: 8px;
  align-items: center;
}

select.top-artists-platform-selection {
  border: var(--about-info-icon-border);
  font-family: text-labels;
  background: var(--input-background);
  color: var(--ff-body-text-clr);
  font-size: 0.85rem;
  border-radius: 6px;
}

option {
  border: var(--container-border);
}

.results-content-wrapper {
  display: grid;
  place-items: center;
  flex-grow: 1;
}

span.top-artists-title-text {
  font-size: 1.2rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

.result-container {
  height: 100%;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.result-song-list-container {
  width: 40vw;
  height: 90%;
  border-radius: 10px;
}

.result-information-playlist-container {
  width: 20vw;
  height: 90%;
  border-radius: 10px;
  padding: 8px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

header.playlist-customise-title {
  height: -moz-fit-content;
  height: fit-content;
}

span.custom-playlist-container-title {
  font-size: 1.2rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

form.name-playlist-form {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input.name-playlist {
  height: 100%;
  width: 85%;
  background: var(--input-background);
  border: var(--about-info-icon-border);
  padding-inline: 6px;
  color: var(--ff-body-text-clr);
  font-size: 0.9rem;
  font-family: text-labels;
  border-radius: 6px;
}
input.name-playlist ::-moz-placeholder {
  color: var(--ff-drop-nav-link-clr);
}
input.name-playlist ::placeholder {
  color: var(--ff-drop-nav-link-clr);
}

input:focus {
  outline: none;
}

.character-limit-container {
  display: flex;
  align-items: center;
  margin-left: 6px;
  background: var(--input-background);
  border: var(--about-info-icon-border);
  height: 100%;
  border-radius: 6px;
  padding-inline: 6px;
}

p.counter-number {
  color: var(--ff-information-icon-clr);
  font-size: 0.9rem;
  font-family: text-labels;
}

.playlist-img-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.playlist-img-wrapper {
  aspect-ratio: 1;
  height: 100%;
  border: var(--container-border);
  border-radius: 6px;
  display: grid;
}

img.playlist-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4.5px;
  display: grid;
}

img.playlist-img[src="cover-art/plus-img.png"] {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
  width: 50%;
  place-self: center;
}

.pen-icon-wrapper {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: 4px;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 1400px) and (max-width: 3000px) {
  .sonar-feature-showcase-container {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  .sonar-feature-showcase-item {
    height: -moz-fit-content;
    height: fit-content;
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .sonar-feature-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2.5rem;
    color: #ff4055;
  }
  .fa-forward, .fa-backward {
    font-size: 2rem;
  }
  .sonar-showcase-text-wrapper {
    height: 100px;
    text-align: center;
    font-family: light-text;
    color: var(--ff-body-text-clr);
    font-size: 1.2rem;
  }
  .side-page-content {
    width: 17vw;
    height: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 900px) {
  .page-content-wrapper {
    height: 100dvh;
    width: 100dvw;
  }
  header.page-header, .sidebar-header {
    padding: 0.5rem 1rem;
  }
  header.sidebar-header {
    height: 50px;
    width: 100%;
  }
  .nav-container {
    display: none;
  }
  .mobile-nav-menu-opener-container {
    display: grid;
  }
  .appearance-btn-group {
    display: none;
  }
  .mobile-slide-in-menu {
    height: 100dvh;
    width: 60vw;
    border-left: var(--container-border);
    background: var(--main-background);
    position: absolute;
    top: 0;
    right: -60vw;
    transition: right 0.3s ease-in-out;
    flex-direction: column;
    gap: 30px;
    display: none;
  }
  .open {
    right: 0;
    display: flex;
    transition: right 0.3s ease-in-out;
  }
  .mobile-nav-menu-closer-container {
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    place-items: center;
  }
  .mobile-nav-container {
    padding-inline: 1rem;
    flex-grow: 1;
  }
  nav.navigation-links-wrapper {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0.6rem;
    align-items: flex-end;
  }
  .service-link-dropdown-container {
    height: 1.5rem;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.5s ease-in-out;
  }
  #rightChevron {
    transition: all 0.2s ease-in-out;
  }
  button.service-link-dropdown-btn {
    font-size: 1.25rem;
    font-family: light-text;
    color: var(--ff-body-text-clr);
    display: flex;
    align-items: center;
  }
  .service-link-dropdown-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding-inline: 0.75rem;
  }
  a.mobile-slide-in-nav-link {
    font-size: 1.15rem;
    font-family: light-text;
    color: var(--ff-drop-nav-link-clr);
  }
  footer.slide-in-footer {
    height: 75px;
  }
  .mobile-appearance-btn-group {
    width: -moz-fit-content;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    float: right;
  }
  .large-intro-text-container {
    padding-inline: 6px;
  }
  span.large-intro-text {
    font-size: 2rem;
    font-family: neue;
    color: var(--ff-body-text-clr);
  }
  .sonar-feature-showcase-container {
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 25px;
    gap: 0;
    background: none;
  }
  .sonar-feature-showcase-item {
    margin-bottom: 6px;
    text-wrap: stable;
    border-radius: 10px;
    padding: 6px;
    background: var(--input-background);
    border: var(--container-border);
  }
  .streaming-service-img-container {
    width: 100%;
  }
  .desktop-service-imgs {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-inline: 36px;
  }
  .mobile-service-imgs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6px;
  }
  .streaming-service-logo-wrapper {
    height: 40px;
  }
  img.streaming-service-logo {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .quick-page-summary-on-gradient-bg {
    height: 200px;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(0deg, #000000, #090312, #10051c, #140827, #150b31, #150d3c, #160d48, #150e53, #140e5f, #100e6c, #0a0d78, #000d85);
  }
  p.info-text {
    font-size: 1rem;
    font-family: text-labels;
    color: var(--ff-drop-info-clr);
  }
  .tech-stack-icon-container {
    height: 40px;
    width: 100%;
  }
  .tech-icon-wrapper {
    font-size: 1.5rem;
    color: var(--ff-information-icon-clr);
  }
  svg.vercel-about-logo {
    height: 20px;
  }
  .focus-info-btn-wrapper {
    height: 40px;
    width: -moz-fit-content;
    width: fit-content;
    aspect-ratio: 1;
  }
  button.focus-info-btn {
    height: 100%;
    width: 100%;
    padding: 3px;
    aspect-ratio: 1;
    border-radius: 5px;
    display: grid;
    place-items: center;
  }
  .gg-chevron-right {
    color: var(--ff-body-text-clr);
    transition: rotate 0.2s ease;
  }
  .quick-page-description-container {
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  p.sonar-quizzes-quick-description-text {
    font-size: 1.2rem;
    color: var(--ff-body-text-clr);
    font-family: light-text;
    text-align: center;
  }
  hr.section-divider {
    width: 10%;
    border: none;
    border-top: var(--about-info-icon-border);
  }
  .result-container {
    flex-direction: column;
    height: 70vh;
  }
  .result-song-list-container {
    width: 95vw;
    height: 100%;
  }
  .result-information-playlist-container {
    width: 95vw;
    height: 200px;
  }
}/*# sourceMappingURL=sonar-home-screen.css.map */