html, body {
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
  scroll-behavior: smooth;
}

@font-face {
  font-family: body-text;
  src: url("../fonts/Relevance-trial-ExtraBold-BF65d41be200cb9.ttf");
}
:root {
  --body-background-clr: /* hsla(280,100%,47%,1) */ #f4f4f4;
  --body-background-gradient:
    radial-gradient(at 15% 97%, hsla(172,100%,82%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(201,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 93% 89%, hsl(286, 100%, 90%) 0px, transparent 50%),
  radial-gradient(at 71% 81%, hsla(31,100%,100%,1) 0px, transparent 50%),
  radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsl(0deg 0% 100%) 0px, transparent 50%);
  --appearance-btn-hover: rgba(255, 255, 255, 0.349);
  --main-background: #f3f3f3;
  --btn-background: #050505;
  --ff-body-text-clr: #050505;
  --ff-btn-text: #f4f4f4;
  --ff-slogan-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 26%, #FFCC70 100%);
  --ff-info-text-gradient: #000000;
  --container-border: 1.5px #c8c8c8 solid;
  --menu-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.darkmode {
  --body-background-clr: hsla(0,0%,0%,1);
  --body-background-gradient:
      /* radial-gradient(at 0% 96%, hsla(12,4%,54%,1) 0px, transparent 50%),
      radial-gradient(at 100% 0%, hsla(201,61%,77%,1) 0px, transparent 50%),
      radial-gradient(at 93% 89%, hsla(199,45%,45%,1) 0px, transparent 50%),
      radial-gradient(at 60% 100%, hsla(290,100%,17%,1) 0px, transparent 50%),
      radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(239,48%,43%,1) 0px, transparent 50%); */
  radial-gradient(at 17% 18%, hsla(115,0%,11%,1) 0px, transparent 50%),
  radial-gradient(at 56% 51%, hsla(158,0%,3%,1) 0px, transparent 50%),
  radial-gradient(at 50% 76%, hsla(103,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 44% 99%, hsla(240,0%,26%,1) 0px, transparent 50%),
  radial-gradient(at 94% 10%, hsla(0,0%,11%,1) 0px, transparent 50%),
  radial-gradient(at 89% 76%, hsla(0,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 23% 48%, hsla(63,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 6% 82%, hsla(0,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(180,0%,0%,1) 0px, transparent 50%);
  --main-background: #000000;
  --btn-background: #f9f9f9;
  --ff-body-text-clr: #ffffff;
  --ff-btn-text: #0a0a0a;
  --ff-info-text-gradient: linear-gradient(to right, #545454, #c6c6c6);
  --container-border: 1.5px #3a3a3a solid;
  --menu-box-shadow: rgba(77, 77, 77, 0.12) 0px 2px 4px 0px, rgba(136, 136, 136, 0.32) 0px 2px 16px 0px;
}

button {
  cursor: pointer;
  color: var(--ff-icon-color);
  background: transparent;
  border: none;
  -webkit-margin-top-collapse: collapse;
}

.appearance-btn-group {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

button.appearance-mode-btn {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 100vw;
  color: var(--ff-body-text-clr);
}

a {
  text-decoration: none;
  color: var(--ff-body-text-clr);
}

body {
  background-color: var(--body-background-clr);
  display: flex;
}

.page-content-wrapper {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header.page-header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-inline: 1rem;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo-title-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
}

span.title-text {
  font-size: 2.25rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

.nav-container {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

nav.navigation-links-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  align-items: flex-end;
}

span.nav-title {
  font-size: 1.25rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

.mobile-nav-menu-opener-container {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  place-items: center;
  display: none;
}

button.mobile-nav-menu-opener-btn {
  font-size: 2.5rem;
  color: var(--ff-body-text-clr);
}

.mobile-slide-in-menu {
  display: none;
}

main {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  gap: 30px;
}

main.central-page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 10px;
}

.central-page-content-wrapper {
  background: var(--main-background);
  padding: 1rem;
  border-radius: 15px;
  width: 33%;
  border: var(--container-border);
}

.information-wrapper {
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5rem;
  font-family: light-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

p {
  background: var(--ff-info-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.page-slogan-text {
  font-size: 1.8rem;
}

.site-name-large {
  font-size: 1.8rem;
  color: var(--ff-body-text-clr);
  -webkit-text-fill-color: var(--ff-body-text-clr);
}

.music-streaming-choice-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 15px;
  width: 100%;
  justify-content: center;
}

.music-streaming-choice {
  background: var(--main-background);
  border-radius: 15px;
  width: 30%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

img.streaming-service-logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

button.choose-service-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 1rem;
  background: var(--btn-background);
  color: var(--ff-btn-text);
  font-family: light-text;
  border-radius: 100vw;
}

.sonar-quiz-introduction-container {
  background: var(--main-background);
  padding: 1rem;
  border-radius: 15px;
  width: 33%;
  border: var(--container-border);
}

.extra-information-content-container {
  background: var(--main-background);
  padding: 1rem;
  border-radius: 15px;
  width: 33%;
  border: var(--container-border);
}

.service-selection-menu-container {
  background: var(--main-background);
  padding: 1rem;
  border-radius: 15px;
  position: absolute;
  top: 12.5vh;
  left: 12.5%;
  height: 85vh;
  width: 75%;
  border: var(--container-border);
}

.service-selection-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

header.service-selection-menu-header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.menu-title {
  font-size: 1.5rem;
  font-family: light-text;
  color: var(--ff-body-text-clr);
}

button.close-menu-btn {
  font-size: 1.5rem;
  color: var(--ff-body-text-clr);
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
}

.streaming-service-choices-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.choice-row {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

article.service-choice {
  height: 100%;
  width: 33%;
  border-radius: 15px;
  border: var(--container-border);
  background: var(--main-background);
  padding: 0.5rem;
}

.service-logo-wrapper {
  height: 67%;
  display: grid;
  place-items: center;
}

.service-graphic-wrapper {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: grid;
  place-items: center;
}

img.service-graphic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apple-music-logo-text {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: var(--ff-body-text-clr);
}

.service-info-and-button {
  height: 33%;
  display: grid;
  place-items: center;
}

button.choose-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  font-size: 1rem;
  background: var(--btn-background);
  color: var(--ff-btn-text);
  font-family: light-text;
  border-radius: 100vw;
}

.side-menu {
  width: 20%;
  height: 100%;
  border: var(--container-border);
  background: var(--main-background);
  border-radius: 15px;
}

.main-content {
  flex-grow: 1;
  border: var(--container-border);
  background: var(--main-background);
  border-radius: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  header.page-header {
    padding: 0.5rem 1rem;
  }
  .nav-container {
    display: none;
  }
  .mobile-nav-menu-opener-container {
    display: grid;
  }
  .appearance-btn-group {
    display: none;
  }
  .mobile-slide-in-menu {
    display: none;
    height: 100dvh;
    width: 60vw;
    border-left: var(--container-border);
    background: var(--main-background);
    position: absolute;
    top: 0;
    right: -60vw;
    transition: right 0.3s ease-in-out 300ms;
    flex-direction: column;
    gap: 30px;
  }
  .open {
    right: 0;
    display: flex;
    transition: right 0.3s ease-in-out 300ms;
  }
  .mobile-nav-menu-closer-container {
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    place-items: center;
  }
  .mobile-nav-container {
    padding-inline: 1rem;
    flex-grow: 1;
  }
  nav.navigation-links-wrapper {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 1rem;
  }
  footer.slide-in-footer {
    height: 75px;
  }
  .mobile-appearance-btn-group {
    width: -moz-fit-content;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    float: right;
  }
  main.central-page-content {
    overflow: scroll;
  }
  .central-page-content-wrapper {
    width: 95%;
    margin-inline: auto;
    margin-bottom: 1rem;
  }
  .sonar-quiz-introduction-container {
    width: 95%;
    margin-inline: auto;
    margin-bottom: 1rem;
  }
  .extra-information-content-container {
    width: 95%;
    margin-inline: auto;
  }
  .service-selection-menu-container {
    width: 95%;
    height: 80dvh;
    left: 2.5%;
  }
  .streaming-service-choices-container {
    overflow: scroll;
    display: block;
  }
  .choice-row {
    flex-direction: column;
    gap: 1rem;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 1rem;
  }
  article.service-choice {
    width: 100%;
    height: 250px;
  }
}/*# sourceMappingURL=sonar-home-screen.css.map */