html, body {
    height: 100%; 
    box-sizing: border-box; 
    user-select: none;
}
*{
    margin: 0;
    padding: 0;
    // shape-rendering: crispEdges;
    // font-variant: normal;
    // font-stretch: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    // font-optical-sizing: none;
    transition: all .2s ease-in-out, background 0s ease-in-out, color 0s ease-in-out, border 0s ease-in-out;
    // text-size-adjust: none;
    // text-rendering: optimizeLegibility;
    // font-synthesis: none;
    // font-weight: normal;
    // font-variant-ligatures: none;
    // font-variant-caps: normal;
    transition-delay: 0;
}
@font-face{
    font-family: body-text;
    src: url("../fonts/Relevance-trial-ExtraBold-BF65d41be200cb9.ttf");
}
:root{
    --body-background-clr: /* hsla(280,100%,47%,1) */ #f4f4f4;
    --body-background-gradient:
    radial-gradient(at 15% 97%, hsla(172,100%,82%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(201,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 93% 89%, hsl(286, 100%, 90%) 0px, transparent 50%),
  radial-gradient(at 71% 81%, hsla(31,100%,100%,1) 0px, transparent 50%),
  radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsl(0deg 0% 100%) 0px, transparent 50%);
    --appearance-btn-hover: rgba(255, 255, 255, 0.349);
    --main-background: #f3f3f3;
    --btn-background: #050505;
    --about-us-info-container-bg-clr: #efefef;
    --overlay-background: #ffffff53;
    --input-background: #e4e4e4;


    --ff-body-text-clr: #050505;
    --ff-btn-text: #f4f4f4;
    --ff-slogan-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 26%, #FFCC70 100%);
    --ff-info-text-gradient: #000000;
    --ff-drop-nav-link-clr: #504f4f;
    --ff-information-icon-clr: #3f3f3f;
    --ff-drop-info-clr: #2b2b2b;

    --container-border: 1.5px #cdcdcd solid; 
    --about-us-information-cont-border: 1.5px #dbdbdb solid;
    --about-info-icon-border: 1px #c7c7c7 solid;
    --about-header-border-btm: 1.5px #4c4c4c solid;

    --menu-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.darkmode{
    --body-background-clr: hsla(0,0%,0%,1);
    --body-background-gradient:
    /* radial-gradient(at 0% 96%, hsla(12,4%,54%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(201,61%,77%,1) 0px, transparent 50%),
    radial-gradient(at 93% 89%, hsla(199,45%,45%,1) 0px, transparent 50%),
    radial-gradient(at 60% 100%, hsla(290,100%,17%,1) 0px, transparent 50%),
    radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(239,48%,43%,1) 0px, transparent 50%); */
radial-gradient(at 17% 18%, hsla(115,0%,11%,1) 0px, transparent 50%),
radial-gradient(at 56% 51%, hsla(158,0%,3%,1) 0px, transparent 50%),
radial-gradient(at 50% 76%, hsla(103,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 44% 99%, hsla(240,0%,26%,1) 0px, transparent 50%),
radial-gradient(at 94% 10%, hsla(0,0%,11%,1) 0px, transparent 50%),
radial-gradient(at 89% 76%, hsla(0,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 23% 48%, hsla(63,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 6% 82%, hsla(0,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(180,0%,0%,1) 0px, transparent 50%);
    --main-background: #000000;
    --btn-background: #f9f9f9;
    --about-us-info-container-bg-clr: #0f0f0f;
    --overlay-background: #12121253;
    --input-background: #121212;

    --ff-body-text-clr: #ffffff;
    --ff-btn-text: #0a0a0a;
    --ff-info-text-gradient: linear-gradient(to right, #545454, #c6c6c6);
    --ff-drop-nav-link-clr: #969696;
    --ff-information-icon-clr: #999999;
    --ff-drop-info-clr: #d2d2d2;

    --container-border: 1.5px #3a3a3a solid;
    --about-us-information-cont-border: 1.5px #202020 solid;
    --about-info-icon-border: 1px #262626 solid;

    --menu-box-shadow: rgba(77, 77, 77, 0.12) 0px 2px 4px 0px, rgba(136, 136, 136, 0.32) 0px 2px 16px 0px;
}
button{
    cursor: pointer;
    color: var(--ff-icon-color);
    background: transparent;
    border: none;
    -webkit-margin-top-collapse: collapse;
  }
  .appearance-btn-group{
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
  }
  button.appearance-mode-btn{
    display: grid;
    place-items: center;
    background: none;
    border: none;
    aspect-ratio: 1;
    // padding: .2rem;
    height: 100%;
    border-radius: 100vw;
    color: var(--ff-body-text-clr);
  }
  a{
    text-decoration: none;
    color: var(--ff-body-text-clr);
  }

body{
    // background: var(--body-background-gradient);
    background-color: var(--body-background-clr);
    display: flex;
}
.page-content-wrapper{
    backdrop-filter: blur(24px);
    flex-grow: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
}
header.page-header{
    height: 50px;
    width: 100%;
    padding-inline: 1rem;
    background: var(--input-background);
}
.header-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.logo-title-wrapper{
    display: flex;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}
span.title-text{
    font-size: 1.75rem;
    font-family: light-text;
    color: var(--ff-body-text-clr);
}
.nav-container{
    height: 100%;
    width: fit-content;
}
nav.navigation-links-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
    align-items: center;
}
span.nav-title{
    font-size: 1.25rem;
    font-family: light-text;
    color: var(--ff-body-text-clr);
}
.mobile-nav-menu-opener-container{
    height: 100%;
    width: fit-content;
    place-items: center;
    display: none;
}
button.mobile-nav-menu-opener-btn{
    font-size: 2.5rem;
    color: var(--ff-body-text-clr);
}
.mobile-slide-in-menu{
    display: none;
}
.streaming-service-logo-slider-container{
    height: 100px;
    width: 100vw;
    overflow: hidden;
    padding: 1rem 0;
    white-space: nowrap;
    background: #f4f4f4;
}
.logo-slider-img-wrapper{
    display: inline-block;
    animation: 10s slide infinite linear;
    margin: 0;
}
.logo-slider-img-wrapper img{
    height: 50px;
    margin-inline: 40px;
}
@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
main{
    padding: 1rem;
    flex-grow: 1;
    height: 100%;
    display: flex;
    gap: 30px;
}
main.central-page-content{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 10px;
}
.central-page-content-wrapper{
    background: var(--main-background);
    padding: 1rem;
    border-radius: 15px;
    width: 33%;
    // border: var(--container-border);
}
.information-wrapper{
    text-align: center;
    height: fit-content;
    font-size: 1.5rem;
    font-family: light-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
p.page-description-text{
    background: var(--ff-info-text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p.page-slogan-text{
    font-size: 1.8rem;
    background: var(--ff-info-text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.site-name-large{
    font-size: 1.8rem;
    color: var(--ff-body-text-clr);
    -webkit-text-fill-color: var(--ff-body-text-clr);
}
.music-streaming-choice-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
}
.music-streaming-choice{
    background: var(--main-background);
    border-radius: 15px;
    width: 30%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    padding: .5rem;
}
img.streaming-service-logo{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
button.choose-service-btn{
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    background: var(--btn-background);
    color: var(--ff-btn-text);
    font-family: light-text;
    border-radius: 100vw;
}
.sonar-quiz-introduction-container{
    background: var(--main-background);
    padding: 1rem;
    border-radius: 15px;
    width: 33%;
    border: var(--container-border);
}
.extra-information-content-container{
    background: var(--main-background);
    padding: 1rem;
    border-radius: 15px;
    width: 33%;
    border: var(--container-border);
}
.service-selection-menu-container{
  background: var(--main-background);
  padding: 1rem;
  border-radius: 15px; 
  position: absolute;
  top: 12.5vh;
  left: 12.5%;
  height: 85vh;
  width: 75%;
  border: var(--container-border);  
//   box-shadow: var(--menu-box-shadow);
}
.service-selection-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}
header.service-selection-menu-header{
    height: fit-content;
    width: 100%;
    padding-inline: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.menu-title{
    font-size: 1.5rem;
    font-family: light-text;
    color: var(--ff-body-text-clr)
}
button.close-menu-btn{
    font-size: 1.5rem;
    color: var(--ff-body-text-clr);
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
}
.streaming-service-choices-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.choice-row{
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
article.service-choice{
    height: 100%;
    width: 33%;
    border-radius: 10px;
    border: var(--container-border);
    background: var(--main-background);
    padding: .5rem;
}
.service-logo-wrapper{
    height: 67%;
    display: grid;
    place-items: center;
}
.service-graphic-wrapper{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: grid;
    place-items: center;
}
img.service-graphic{
    width: 100%;
    object-fit: cover;
    
}
.apple-music-logo-text{
    width: 50%;
    object-fit: cover;
    fill: var(--ff-body-text-clr);
}
.spotify-logo-text{
    width: 50%;
    object-fit: cover;
}
.tidal-text-logo{
    width: 50%;
    fill: var(--ff-body-text-clr);
}
.deezer-logo-text{
    width: 50%;
    object-fit: cover;
}
svg.deezer-logo-text path{
    fill: var(--ff-body-text-clr);
}
img.service-logo-png{
    width: 40%;
    object-fit: cover;
}
.service-info-and-button{
    height: 33%;
    display: grid;
    place-items: center;
}
button.choose-btn{
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    font-size: 1rem;
    background: var(--btn-background);
    color: var(--ff-btn-text);
    font-family: light-text;
    border-radius: 100vw;
}





.side-page-content{
    width: 20vw;
}
.result-container{
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.result-song-list-container{
    width: 40vw;
    height: 90%;
    border: var(--container-border);
    border-radius: 10px;
    background: var(--main-background);
}
.result-information-playlist-container{
    width: 20vw;
    height: 90%;
    border: var(--container-border);
    border-radius: 10px;
    background: var(--main-background);
    padding: 8px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
header.playlist-customise-title{
    height: fit-content;
}
span.custom-playlist-container-title{
    font-size: 1.2rem;
    font-family: light-text;
    color: var(--ff-body-text-clr);
}
form.name-playlist-form{
    // background: var(--input-background);
    // border: var(--about-info-icon-border);
    height: 40px;
    // padding-inline: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input.name-playlist{
    height: 100%;
    width: 85%;
    background: var(--input-background);
    border: var(--about-info-icon-border);
    padding-inline: 6px;
    color: var(--ff-body-text-clr);
    font-size: .9rem;
    font-family: text-labels;
    border-radius: 6px;

    ::placeholder{
        color: var(--ff-drop-nav-link-clr);
    }
}
input:focus{
    outline: none
}
.character-limit-container{
    display: flex;
    align-items: center;
    margin-left: 6px;
    background: var(--input-background);
    border: var(--about-info-icon-border);
    height: 100%;
    border-radius: 6px;
    padding-inline: 6px;
}
p.counter-number{
    color: var(--ff-information-icon-clr);
    font-size: .9rem;
    font-family: text-labels;
}
.playlist-img-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.playlist-img-wrapper{
    aspect-ratio: 1;
    height: 100%;
    // display: grid;
    // place-items: center;
    border: var(--container-border);
    border-radius: 6px;
    display: grid;
}
img.playlist-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4.5px;
    display: grid;
}
img.playlist-img[src="cover-art/plus-img.png"]{
    object-fit: cover;
    height: 50%;
    width: 50%;
    place-self: center;
}
.pen-icon-wrapper{
    height: 100%;
    width: fit-content;
    margin-inline: 4px;
    display: grid;
    place-items: center;
}







@media only screen and (min-width: 0px) and (max-width: 900px) {
    header.page-header,.sidebar-header{
        padding: .5rem 1rem;
    }
    header.sidebar-header{
        height: 50px;
        width: 100%;
    }
    .nav-container{
        display: none;
    }
    .mobile-nav-menu-opener-container{
        display: grid;
    }
    .appearance-btn-group{
        display: none;
    }
    .mobile-slide-in-menu{
        height: 100dvh;
        width: 60vw;
        border-left: var(--container-border);
        background: var(--main-background);
        position: absolute;
        top: 0;
        right: -60vw;
        transition: right .3s ease-in-out;
        flex-direction: column;
        gap: 30px;
        display: none;
    }
    .open{
        right: 0;
        display: flex;
        transition: right .3s ease-in-out;
    }
    .mobile-nav-menu-closer-container{
        height: 100%;
        width: fit-content;
        display: grid;
        place-items: center;
    }
    .mobile-nav-container{
        padding-inline: 1rem;
        flex-grow: 1;
    }
    nav.navigation-links-wrapper{
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: .6rem;
        align-items: flex-end;
    }
    .service-link-dropdown-container{
        height: 1.5rem;
        flex-direction: column;
        gap: .5rem;
        transition: all .5s ease-in-out;
    }
    #rightChevron{
        transition: all .2s ease-in-out;
    }
    button.service-link-dropdown-btn{
        font-size: 1.25rem;
        font-family: light-text;
        color: var(--ff-body-text-clr);
        display: flex;
        align-items: center;
    }
    .service-link-dropdown-content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        padding-inline: .75rem;
    }
    a.mobile-slide-in-nav-link{
        font-size: 1.15rem;
        font-family: light-text;
        color: var(--ff-drop-nav-link-clr);
    }
    footer.slide-in-footer{
        height: 75px;
    }
    .mobile-appearance-btn-group{
        width: fit-content;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        float: right;
      }
    main.central-page-content{
        // display: block;
        overflow: scroll;
    }
    .central-page-content-wrapper{
        width: 95%;
        margin-inline: auto;
        margin-bottom: 1rem;
        // border: none;
    }
    .sonar-quiz-introduction-container{
        width: 95%;
        margin-inline: auto;
        margin-bottom: 1rem;
    }
    .extra-information-content-container{
        width: 95%;
        margin-inline: auto;
    }
    .service-selection-menu-container{
        width: 95%;
        height: 80dvh;
        left: 2.5%;
    }
    .streaming-service-choices-container{
        overflow: scroll;
        display: block;
    }
    .choice-row{
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
        margin-bottom: 1rem;
    }
    article.service-choice{
        width: 100%;
        height: 220px;
    }


    .quick-page-summary-on-gradient-bg{
        height: 200px;
        width: 100%;
        margin-bottom: 30px;
        background: linear-gradient(0deg, #000000, #090312, #10051c, #140827, #150b31, #150d3c, #160d48, #150e53, #140e5f, #100e6c, #0a0d78, #000d85);    
    }
    .about-us-site-description-wrapper{
        height: fit-content;
        width: 95%;
        padding: 6px;
        // background: var(--about-us-info-container-bg-clr);
        margin-inline: auto;
        // border-radius: 10px;
        border-bottom: var(--about-us-information-cont-border);
    }
    .about-us-site-description-wrapper:last-of-type{
        margin-bottom: 16px;
    }
    header.information-container-header{
        height: fit-content;
    }
    .information-header-content-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        gap: 10px;
    }
    .about-us-on-page-search-box{
        min-height: 50px;
        max-height: 200px;
        width: 100%;
        display: grid;
        place-items: center;
        // margin: 0 0 15px 0;
    }
    form.about-us-page-search-form{
        background: var(--input-background);
        border: var(--container-border);
        height: 50px;
        width: 80%;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 6px
    }
    input.about-us-content-search-input{
        height: 100%;
        width: 100%;
        background: none;
        border: none;
        padding-inline: 6px;
        color: var(--ff-body-text-clr);
        font-size: 1rem;
        font-family: text-labels;
        border-radius: 6px;
        
        ::placeholder{
            color: var(--ff-drop-nav-link-clr);
        }
    }
    .search-icon-wrapper{
        width: fit-content;
        padding-inline: 6px;
        margin-left: 6px;
        color: var(--ff-information-icon-clr);
    }
    form.about-us-page-search-form:focus{
        outline: var(--about-header-border-btm);
    }

    .info-icon-title-wrapper{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .information-type-icon-wrapper{
        height: 40px;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        // border: var(--about-info-icon-border);
        border-radius: 6px;
    }
    .information-type-icon-wrapper i{
        scale: 1.2;
        color: var(--ff-information-icon-clr);
    }
    span.header-title{
        font-size: 1.2rem;
        font-family: light-text;
        // text-decoration: underline;
        color: var(--ff-body-text-clr);
    }
    .info-text-wrapper{
        margin-top: 6px;
    }
    p.info-text{
        font-size: 1rem;
        font-family: text-labels;
        color: var(--ff-drop-info-clr);
    }
    .tech-stack-icon-container{
        height: 40px;
        width: 100%;
        border-radius: 6px;
        // border: var(--about-info-icon-border);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px .5rem;
        margin-bottom: 6px;
        fill: var(--ff-body-text-clr);
    }
    .tech-icon-wrapper{
        font-size: 1.5rem;
        color: var(--ff-information-icon-clr);
    }
    .fa-html5{
        color: #e34c36;
    }
    .fa-css3{
        color: #264de4;
    }
    .fa-sass{
        color: #cc6699;
    }
    .fa-js{
        color: #f0db4f;
    }
    .fa-github{
        color: var(--ff-body-text-clr);
    }
    .focus-info-btn-wrapper{
        height: 40px;
        width: fit-content;
        aspect-ratio: 1;
    }
    button.focus-info-btn{
        height: 100%;
        width: 100%;
        padding: 3px;
        aspect-ratio: 1;
        border-radius: 5px;
        display: grid;
        place-items: center;
    }
    .gg-chevron-right{
        color: var(--ff-body-text-clr);
        transition: rotate .2s ease;
    }
    .expandedInfo{
    }
    



    .quick-page-description-container{
        width: 95%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
    p.sonar-quizzes-quick-description-text{
        font-size: 1.2rem;
        color: var(--ff-body-text-clr);
        font-family: light-text;
        text-align: center;
    }
    hr.section-divider{
        width: 10%;
        border: none;
        border-top: var(--about-info-icon-border);
    }





    .result-container{
        flex-direction: column;
        height: 70vh;
    }
    .result-song-list-container{
        width: 95vw;
        height: 100%;
    }
    .result-information-playlist-container{
        width: 95vw;
        height: 200px;
    }
}