html, body {
    min-height: 100vh; 
    box-sizing: border-box; 
    user-select: none; 
}
*{
    margin: 0;
    padding: 0;
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
    font-variant: normal;
    font-stretch: normal;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-optical-sizing: none;
    transition: background .2s ease-in-out;
}
@font-face{
    font-family: body-text;
    src: url("../fonts/Relevance-trial-ExtraBold-BF65d41be200cb9.ttf");
}
:root{
    --body-background-gradient:
    radial-gradient(at 15% 97%, hsla(172,100%,82%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(201,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 93% 89%, hsla(352,100%,100%,1) 0px, transparent 50%),
    radial-gradient(at 71% 81%, hsla(31,100%,100%,1) 0px, transparent 50%),
    radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(354,100%,100%,1) 0px, transparent 50%);
    --appearance-btn-hover: rgba(255, 255, 255, 0.349);
    --main-background: #f2fffd;


    --ff-body-text-clr: #050505;
}
.darkmode{
    --body-background-gradient:
    radial-gradient(at 0% 96%, hsla(12,4%,54%,1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(201,61%,77%,1) 0px, transparent 50%),
    radial-gradient(at 93% 89%, hsla(199,45%,45%,1) 0px, transparent 50%),
    radial-gradient(at 60% 100%, hsla(290,100%,17%,1) 0px, transparent 50%),
    radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(239,48%,43%,1) 0px, transparent 50%);
    --main-background: #141414;

    --ff-body-text-clr: #ffffff;
}
button{
    cursor: pointer;
    color: var(--ff-icon-color);
    background: transparent;
    border: none;
    -webkit-margin-top-collapse: collapse;
  }
  .appearance-btn-group{
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-background);
    border-radius: 15px;
  }
  button.appearance-mode-btn{
    display: grid;
    place-items: center;
    background: none;
    border: none;
    aspect-ratio: 1;
    // padding: .2rem;
    height: 100%;
    border-radius: 100vw;
    color: var(--ff-body-text-clr);
    transition: color .2s ease-in-out;
  }
  a{
    text-decoration: none;
  }

body{
    background: var(--body-background-gradient);
    background-color: hsla(280,100%,47%,1);
    display: flex;
}
.page-content-wrapper{
    backdrop-filter: blur(24px);
    display: grid;
    flex-grow: 1;
}
header.page-header{
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    padding: .5rem;
}
.header-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    place-self: top;
}
.logo-title-wrapper{
    padding: .5rem 1rem;
    width: fit-content;
    height: fit-content;
    background: var(--main-background);
    border-radius: 15px;
}
span.title-text{
    font-size: 2.25rem;
    font-family: body-text;
    color: var(--ff-body-text-clr);
}
main.central-page-content{
    place-self: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background: var(--main-background);
    padding: 1rem;
    border-radius: 15px;
}
.information-wrapper{
    text-align: center;
    font-size: 1.5rem;
    font-family: body-text;
    color: var(--ff-body-text-clr);
    display: flex;
    flex-direction: column;
    gap: 30px;
}