html, body {
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  shape-rendering: crispEdges;
  text-rendering: optimizeLegibility;
  font-variant: normal;
  font-stretch: normal;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-optical-sizing: none;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

@font-face {
  font-family: body-text;
  src: url("../fonts/Relevance-trial-ExtraBold-BF65d41be200cb9.ttf");
}
:root {
  --body-background-gradient:
  radial-gradient(at 15% 97%, hsla(172,100%,82%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(201,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 93% 89%, hsla(352,100%,100%,1) 0px, transparent 50%),
  radial-gradient(at 71% 81%, hsla(31,100%,100%,1) 0px, transparent 50%),
  radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(354,100%,100%,1) 0px, transparent 50%);
  --appearance-btn-hover: rgba(255, 255, 255, 0.349);
  --main-background: #eae5f6;
  --ff-body-text-clr: #050505;
  --ff-slogan-clr: linear-gradient(43deg, #4158D0 0%, #C850C0 26%, #FFCC70 100%);
}

.darkmode {
  --body-background-gradient:
  radial-gradient(at 0% 96%, hsla(12,4%,54%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(201,61%,77%,1) 0px, transparent 50%),
  radial-gradient(at 93% 89%, hsla(199,45%,45%,1) 0px, transparent 50%),
  radial-gradient(at 60% 100%, hsla(290,100%,17%,1) 0px, transparent 50%),
  radial-gradient(at 76% 74%, hsla(252,100%,86%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(239,48%,43%,1) 0px, transparent 50%);
  --main-background: #141414;
  --ff-body-text-clr: #ffffff;
}

button {
  cursor: pointer;
  color: var(--ff-icon-color);
  background: transparent;
  border: none;
  -webkit-margin-top-collapse: collapse;
}

.appearance-btn-group {
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

button.appearance-mode-btn {
  display: grid;
  place-items: center;
  background: none;
  border: none;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 100vw;
  color: var(--ff-body-text-clr);
}

a {
  text-decoration: none;
  color: var(--ff-body-text-clr);
}

body {
  background: var(--body-background-gradient);
  background-color: hsl(280, 100%, 47%);
  display: flex;
}

.page-content-wrapper {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header.page-header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-inline: 1rem;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo-title-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
}

span.title-text {
  font-size: 2.25rem;
  font-family: body-text;
  color: var(--ff-body-text-clr);
}

main.central-page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 10px;
}

.central-page-content-wrapper {
  background: var(--main-background);
  padding: 1rem;
  border-radius: 15px;
  width: 40%;
}

.information-wrapper {
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5rem;
  font-family: body-text;
  color: var(--ff-body-text-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

p.page-slogan-text {
  background: var(--ff-slogan-clr);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.music-streaming-choice-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 15px;
  width: 90%;
  justify-content: center;
}

.music-streaming-choice {
  background: var(--main-background);
  border-radius: 15px;
  width: 30%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

.streaming-service-logo-wrapper {
  height: 90%;
  aspect-ratio: 1;
}

img.streaming-service-logo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  header.page-header {
    padding: 0.5rem 1rem;
  }
  .central-page-content-wrapper {
    width: 90%;
  }
  .music-streaming-choice-container {
    width: 60%;
    justify-content: space-between;
  }
  .music-streaming-choice {
    width: 40%;
    aspect-ratio: 1;
  }
}/*# sourceMappingURL=sonar-home-screen.css.map */